/* 헤더 */
//사이즈 정의
@mixin header-size-variable() {
	--krds-header--utility-gap: var(--krds-gap-4);
	--krds-header--container-gap: var(--krds-gap-2);
	--krds-header--container-padding-top: var(--krds-padding-5);
	--krds-header--container-padding-bottom: var(--krds-padding-6);
	--krds-header--navi-min-height: var(--krds-size-height-6);
	--krds-header--navi-gap: var(--krds-gap-2) var(--krds-gap-3);
	--krds-header--navi-padding: var(--krds-padding-2) var(--krds-padding-5) 0;
	--krds-header--navi-border-radius: var(--krds-radius-medium1);
	--krds-header--navi-font-size-pc: var(--krds-pc-font-size-navigation-depth-medium-bold);
	--krds-header--navi-font-size-mobile: var(--krds-mobile-font-size-navigation-depth-small-bold);
}

//컬러 정의
@mixin header-color-variable($mode: light) {
	--krds-header--color-surface: var(--krds-#{$mode}-color-surface-white);
	--krds-header--utility-color-divider: var(--krds-#{$mode}-color-divider-gray-light);
	--krds-header--navi-color-text: var(--krds-#{$mode}-color-text-basic);
	--krds-header--navi-color-hover: var(--krds-#{$mode}-color-action-secondary-hover);
	--krds-header--navi-color-pressed: var(--krds-#{$mode}-color-action-secondary-pressed);
}

//모드 설정
$mode-setting: light;

#krds-header {
	@include header-size-variable();
	@include header-color-variable(#{$mode-setting});

	@include position($p: sticky, $t: 0, $l: 0);
	z-index: 70;
	background-color: var(--krds-header--color-surface);
	.header-in {
		position: relative;
		transform: translateY(0);
	}

	.header-utility {
		@include flex-layout($jc: flex-end);
		.utility-list {
			@include flex-layout($jc: flex-end);
			& > li {
				@include flex-layout($ai: center);
				&:not(:first-child) {
					gap: var(--krds-header--utility-gap);
					margin-left: var(--krds-header--utility-gap);
					&::before {
						display: inline-flex;
						@include pseudo();
						width: 0.1rem;
						height: var(--krds-size-height-2);
						background-color: var(--krds-header--utility-color-divider);
					}
				}
			}
		}
	}

	.header-container {
		.inner {
			@include flex-layout($fd: column, $ai: normal);
			//web 전용 속성
			@include size-large-more {
				gap: var(--krds-header--container-gap);
				padding-top: var(--krds-header--container-padding-top);
				padding-bottom: var(--krds-header--container-padding-bottom);
			}
		}
		.header-branding {
			@include flex-layout($ai: center);
		}
		.logo {
			display: inline-flex;
			@include square(30rem, var(--krds-size-height-7));
			@include size-medium {
				@include square(17.7rem, 2.8rem);
			}
			a {
				display: block;
				@include square(100%);
				background-image: url(#{$url}/img/logo/logo_saas.png);
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		.header-actions {
			display: inline-flex;
			gap: var(--krds-gap-3);
			margin-left: auto;
		}
		.btn-navi {
			@include flex-layout($d: inline-flex, $fd: column, $jc: space-between, $ai: center);
			gap: var(--krds-header--navi-gap);
			min-height: var(--krds-header--navi-min-height);
			padding: var(--krds-header--navi-padding);
			border-radius: var(--krds-header--navi-border-radius);
			font-size: var(--krds-header--navi-font-size-pc);
			font-weight: var(--krds-font-weight-bold);
			color: var(--krds-header--navi-color-text);
			transition: var(--krds-transition-base);
			&::before {
				display: inline-flex;
				@include pseudo();
				@include svg-icon($size: var(--krds-icon--size-medium), $mode: #{$mode-setting});
			}
			&:hover {
				background-color: var(--krds-header--navi-color-hover);
			}
			&:active,
			&:focus {
				background-color: var(--krds-header--navi-color-pressed);
			}
			&.navi-row {
				flex-direction: row;
			}
			&.sch {
				display: none;
				&::before {
					@include icon-set(ico_sch);
				}
			}
			&.login {
				&::before {
					@include icon-set(ico_login);
				}
			}
			&.logout {
				&::before {
					@include icon-set(ico_logout);
				}
			}
			&.join {
				&::before {
					@include icon-set(ico_join);
				}
			}
			&.my {
				&::before {
					@include icon-set(ico_my);
				}
			}
			&.all {
				&::before {
					@include icon-set(ico_all);
				}
			}
		}
	}
}

/* 스크롤 동작 */
#wrap {
	&[class*="scroll"] {
		#krds-header:not(.sample) {
			position: relative;
			border-bottom: 0.1rem solid var(--krds-header--utility-color-divider);
			.header-in {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 100;
				width: 100%;
				border-bottom: 0.1rem solid var(--krds-header--utility-color-divider);
				background-color: var(--krds-header--color-surface);
				transition: transform ease 0.4s 0.01s;
			}
		}
	}
	&.scroll-down {
		#krds-header:not(.sample) {
			.header-in {
				transform: translateY(-100%);
			}
		}
	}
	&.scroll-up {
		#krds-header:not(.sample) {
			.header-in {
				transform: translateY(0);
			}
		}
	}
}

//고대비모드
@include color-mode($mode: high-contrast) {
	//모드 설정
	$mode-setting: high-contrast;

	#krds-header {
		@include header-color-variable(#{$mode-setting});
		.inner {
			border-bottom-color: var(--krds-#{$mode-setting}-color-divider-gray-light);
		}
		.header-container {
			.btn-navi {
				&::before {
					@include svg-icon(var(--krds-icon--size-medium), $mode: #{$mode-setting});
				}
			}
			.logo {
				a {
					background-image: url(#{$url}/img/component/icon/ico_logo_krds_high_contrast.svg);
				}
			}
		}
	}
}

//web 전용 속성
@include size-large-more {
	#krds-header {
		.header-container {
			.btn-navi {
				&.all {
					display: none;
				}
			}
		}
	}

	.is-gnb-web {
		overflow: hidden;
		#wrap {
			&.scroll-down {
				#krds-header {
					.header-in {
						transform: translateY(0);
					}
				}
			}
		}
		&.hasScrollY {
			#krds-masthead,
			#krds-header .header-container,
			#krds-header .krds-main-menu,
			#krds-header .gnb-toggle-wrap,
			#container,
			#krds-footer {
				padding-right: 1.7rem;
			}
			#krds-footer .foot-quick {
				padding-right: 1.7rem;
				margin-right: -1.7rem;
			}
		}
	}
}

//태블릿 & 모바일 전용 속성
@include size-large-less {
	#krds-header {
		.inner {
			padding-top: var(--krds-gap-3);
			padding-bottom: var(--krds-gap-3);
			border-bottom: var(--krds-#{$mode-setting}-border-width-static-regular) solid var(--krds-#{$mode-setting}-color-divider-gray-light);
				padding-right: 0.4rem;

		}

		.header-container {
			.header-utility {
				display: none;
			}
			.btn-navi {
				&.navi-row {
					flex-direction: column;
				}
				&.join,
				&.my {
					display: none;
				}
			}
			.my-drop{
				display: none;
			}
		}
	}
}

//모바일 전용
@include size-medium {
	#krds-header {
		.header-container {
			.header-actions{
				gap: 0;
			}
			.btn-navi {
				font-size: var(--krds-header--navi-font-size-mobile);
			}
		}
	}
	
	.header-actions {
		.sch-form-wrap {
			display: none;
		}
	}

	#krds-header .header-container .btn-navi.navi-row {
		&.login,
		&.logout {
			display: none;
		}
	}
	
		#krds-header .header-container .btn-navi.navi-row {
		&.sch {
			display: flex;
		}
	}

}


//  saas 커스텀

.utility-list .krds-btn.text,
 .item-link {
	&.cloud {
				font-weight: var(--krds-font-weight-bold);
				color: #1E4995;
				.svg-icon {
					background-color: #1E4995;
				}
			}
		

	&.small {
		color: var(--krds-color-text-secondary);
		&.cloud {
			font-weight: var(--krds-font-weight-bold);
			color: #1E4995;
			.svg-icon {
				background-color: #1E4995;
			}
		}
	}
	}




/* 검색 폼 */
.header-actions {

.sch-form-wrap {
	padding-right: 16px;
	// @include flex-layout($ai: center);
	// gap: var(--krds-gap-5);
	// &.vert {
	// 	@include flex-layout($fd:column, $ai : flex-start);
	// 	.sch-input {
	// 		width: 100%;
	// 	}
	// }
	// .input-group {
	// 	.krds-form-select {
	// 		width: auto;
	// 	}
	// }
	// .krds-btn {
	// 	&.ico-sch-plus {
	// 		&::before {
	// 			@include square(var(--krds-size-height-4));				
	// 		}
	// 	}
	// }
}

.sch-input {
	// display: flex;
	// position: relative;


	.krds-input {
		// padding: 0 var(--krds-size-height-7) 0 var(--krds-padding-6);
		padding: 0;
		width: 260px;
		height: var(--krds-size-height-6);
		border: 1px solid #2F3A84;
		border-radius: 1000px;

		// &.xlarge {
		// 	font-weight: var(--krds-font-weight-bold);
		// 	padding: 0 7.2rem 0 var(--krds-padding-8);  
		// }
		&.small {
			// font-weight: var(--krds-font-weight-bold);
			padding: 0 var(--krds-padding-10) 0 var(--krds-padding-5);
		}
	}
	// .ico-search {
	// 	position: absolute;
	// 	top: 50%;
	// 	right: var(--krds-gap-5);
	// 	transform: translateY(-50%);
	// }
}

}

.header-in a {width: unset;}

/* 모바일 헤더 통합검색  */
	.krds-search-dim {
  position: absolute;     
  top: 0;
  left: 0;
  width: 100vw;
	height: 100%;
	background-color: #000000bf;
	z-index: 90;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;

  &.is-open {
    opacity: 1;
    pointer-events: auto;   
  }
}

// #totalSearchDropdown {
//   // z-index: 200;
//   pointer-events: none;
// }

// #totalSearchDropdown .total-search-inner {
//   pointer-events: auto;
// }

.krds-total-search {
  position: fixed;
  top: 0;            
  left: 0;
  width: 100%;
  background: #eef2fa;
  z-index: 90;

  transform: translateY(-120%);
  transition: transform .3s ease;
  will-change: transform;
	opacity: 0;
 	// display: none;
    // max-height: 0;
    // pointer-events: none;

  // /* 열렸을 때 */
		&.is-open {
			transform: translateY(0);
			// max-height: 460px;
			opacity: 1;
		}

  .total-search-inner {
    position: relative;
    padding: 2rem 1.6rem;
		z-index: 1;
  }

  .search-total-top {
    .search-tit {
      margin-bottom: 24px;

      label {
        display: block;
        font-size: 18px;
        font-weight: var(--krds-font-weight-bold);
        color: #111;
      }
    }

    .desc {
      margin-bottom: 12px;
      font-size: 15px;
      color: #555;
    }
  }

  .sch-form-wrap {
    .sch-input {
      // position: relative;
			display: flex;
			flex-direction: column;
			gap: 8px;

			label {
				color: #464C53;
				font-size: 14px;
				// margin-bottom: 8px;
			}

      input.krds-input {
				position: relative;
        width: 100%;
        height: 48px;
        padding: 0 44px 0 16px;
        border-radius: 12px;
        border: 1px solid #58616A;
        background-color: #fff;
        font-size: 16px;
				color: #111;
				// font-weight: var(--krds-font-weight-regular);
				font-weight: var(--krds-font-weight-normal);
        &::placeholder {
          color: #8A949E;					
        }
      }

      .ico-search {
        position: absolute;
        // top: 50%;
        right: 16px;
        // transform: translateY(-50%);
        width: 20px;
        height: 20px;
      }
    }
  }

	.search-total-top {
		margin-top: 3.2rem;
	}

  .krds-btn.btn-close-search {
    position: absolute;
    // top: var(--krds-modal--btn-close-position);
    // right: var(--krds-modal--btn-close-position);
		top: 2.4rem;
		right: 2.4rem;
    // z-index: 9001;
		width: var(--krds-button--icon-size-small);
    height: var(--krds-button--icon-size-small);
    // width: 32px;
    // height: 32px;
		padding: 0;
		
		@include size-medium {
		// top: var(--krds-modal--mobile-btn-close-position);
		// 	right: var(--krds-modal--mobile-btn-close-position);
					top: 2rem;
		right: 2rem;
		}

  }
}
.gnb-wrap {
	.krds-drop-wrap {
		height: 32px;
	}
}