@charset "UTF-8";
.temp_key_message{
  font-size: 16px;
  margin-top: 10px;
  color: #1953d5
}
.apiTd{
  padding : 0.0rem !important;
}


.table_excel tbody td{
  border-top: 1px solid black;
  font-size: 14px;
}
.table_excel tbody tr td{
  padding: 1.5rem 5px;
}

.sheet_button{
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 10px;
}
/* nav start */
/*.gnb_left a:focus,.gnb_left .depth01_item:focus,.gnb_left .depth02_item:focus,.gnb_left .depth03_item:focus { outline-style: dashed; outline-width: 2px; outline-offset: 1px; outline-color: #fff; }*/

.gnb_left .area_menu button { color: #fff; }
.gnb_left .area_menu .depth01 > button { width: 100%; }
.gnb_left .area_menu .depth01 .depth01_item { font-size: 1.8rem; line-height: 6rem; position: relative; text-indent: 3rem; text-align: left; }
.gnb_left .area_menu .depth01 .depth01_item::after { background-image: url(/public/img/managementpage/icons/icon_chevron_wh.png); background-position: right center; background-repeat: no-repeat; background-size: 100%; content: ""; display: block; height: 1rem; position: absolute; right: 3rem; top: 2.5rem; width: 1.6rem; }

.gnb_left .area_menu .depth02 > button { color: #fff;font-size: 16px; line-height: 40px; position: relative; width: 100%; text-align: left; }
.gnb_left .area_menu .depth02 > button > i { font-size: 1.2rem; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.gnb_left .area_menu .depth03 > button { color: #aaa; font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; font-size: 1.4rem; line-height: 3rem; width: 100%; text-align: left;}
/*.gnb_left .area_menu .depth03 > button.on, .gnb_left .area_menu .depth03 > button:active, .gnb_left .area_menu .depth03 > button:focus, .gnb_left .area_menu .depth03 > button:hover { color: #fff; font-family: "NotoSansMedium", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }*/
/* nav end */


/* input without devextreme start */
.input { border: 1px solid #ddd; color: #111; font-size: 1.6rem; height: 3.6rem; position: relative; width: 100%; }
.input_text { background-color: #fff; border: 1px solid #ddd; color: #111; font-size: 1.6rem; height: 3.6rem; padding: 0 1.5rem; position: relative; width: 100%; }
.input_text::-webkit-input-placeholder { color: #aaa; font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }
.input_text::-moz-placeholder { color: #aaa; font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }
.input_text:-ms-input-placeholder { color: #aaa; font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }
.input_text::-ms-input-placeholder { color: #aaa; font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }
.input_text::placeholder { color: #aaa; font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }
.input_text:disabled { background-color: #f5f5f5; }
.input_text:-moz-read-only { background-color: #f5f5f5; }
.input_text:read-only { background-color: #f5f5f5; }
.textarea { border: 1px solid #ddd; font-size: 1.6rem; height: 100%; padding: 1.5rem; resize: vertical; width: 100%; line-height: 1.7; }
.textarea::-webkit-input-placeholder { color: #aaa; }
.textarea::-moz-placeholder { color: #aaa; }
.textarea:-ms-input-placeholder { color: #aaa; }
.textarea::-ms-input-placeholder { color: #aaa; }
.textarea::placeholder { color: #aaa; }
.textarea:focus { border-color: #1953d5; }
.textarea.plat { min-height: 13rem; }


.table .input_text { border: 1px solid #ddd; color: #111; font-size: 1.6rem; height: 3.6rem; padding: 0 1.5rem; width: 100%; }
.table .input_text::-webkit-input-placeholder { color: #aaa; }
.table .input_text::-moz-placeholder { color: #aaa; }
.table .input_text:-ms-input-placeholder { color: #aaa; }
.table .input_text::-ms-input-placeholder { color: #aaa; }
.table .input_text::placeholder { color: #aaa; }
.table .textarea { border: 1px solid #ddd; font-size: 1.6rem; padding: 1.5rem; resize: vertical; width: 100%; }
.table .textarea::-webkit-input-placeholder { color: #aaa; }
.table .textarea::-moz-placeholder { color: #aaa; }
.table .textarea:-ms-input-placeholder { color: #aaa; }
.table .textarea::-ms-input-placeholder { color: #aaa; }
.table .textarea::placeholder { color: #aaa; }
.table .wrap_textarea .textarea { height: 24rem; overflow-y: auto; }
.table .wrap_textarea.plat .textarea { height: 13rem; }
/* input without devextreme end */

.search_bar .input_text { width: 23rem; padding: 0 1rem; height: 3.6rem; }

.search_bar button { width: 6rem; position: static; height: 3.6rem; border: 1px solid #111; background-color: #fff; font-size: 1.6rem; }
.search_bar button::after { display: none; }
.search_bar .box_search_combo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 1rem; }
.search_bar select + .box_search_combo { margin-left: 1rem; }
.search_bar_pop { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 53rem; height: 3.6rem; margin: auto; gap: 1rem; margin-bottom: 3rem; position: relative; }
.search_bar_pop .box_search { height: 3.6rem; }
.wrap_btns_top { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-left: auto; margin-top: 3rem; margin-bottom: 2rem; gap: 1rem; }



.icon_download { position: relative; width: 100%; height: 100%; }
.icon_download::after { margin-top: 10px;content: ""; display: block; width: 20px; height: 20px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); background-image: url(/public/img/managementpage/icons/icon_download.png); background-position: center; background-repeat: no-repeat; background-size: 100%; }

/* // nav sidbar admin SNB */
.gnb_left { background-color: #131f55; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; font-family: "NotoSansMedium", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; margin-bottom: 0; margin-left: 0; min-height: 100vh; padding-left: 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; width: 30rem; }
/*.gnb_left .depth01_item:focus,.gnb_left .depth02_item:focus,.gnb_left .depth03_item:focus { outline-style: dashed; outline-width: 2px; outline-offset: 1px; outline-color: #fff; }*/
.gnb_left .area_logo { -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #26357c; display: -webkit-box; display: -ms-flexbox; display: flex; height: 6rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; }
.gnb_left .area_logo a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 1.5rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.gnb_left .area_logo a img { height: 5.5rem; width: 6rem;}
.gnb_left .area_logo a { color: #fff; font-size: 1.5rem;  display: flex; text-align: left;}
.gnb_left .area_state { padding: 2.5rem 3rem; width: 100%; }
.gnb_left .area_state .user_info .area_profile { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: 1.5rem; margin: auto; width: 100%; }
.gnb_left .area_state .user_info .area_profile .wrap_img_profile { background-color: #26357c; border-radius: 50%; height: 5rem; overflow: hidden; position: relative; width: 5rem; }
.gnb_left .area_state .user_info .area_profile .wrap_img_profile img { left: 60%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.gnb_left .area_state .user_info .area_profile .wrap_txt_profile { font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; width: calc(100% - 6.5rem); }
.gnb_left .area_state .user_info .area_profile .wrap_txt_profile h3 { color: #fff; font-size: 1.8rem; line-height: 1; width: 100%; }
.gnb_left .area_state .user_info .area_profile .wrap_txt_profile .user_auth_state { color: #aaa; font-size: 1.4rem; line-height: 1; margin-top: 1rem; width: 100%; }
.gnb_left .area_state .user_info .user_btns { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 1rem; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 2rem; }
.gnb_left .area_menu { color: #fff; }
.gnb_left .area_menu .depth01 { background-color: #26357c; border-bottom: 1px solid #131f55; width: 100%; }
.gnb_left .area_menu .depth01 .depth01_item { font-size: 1.8rem; line-height: 6rem; position: relative; text-indent: 3rem; }
.gnb_left .area_menu .depth01 .depth01_item::after { background-image: url(/public/img/managementpage/icons/icon_chevron_wh.png); background-position: right center; background-repeat: no-repeat; background-size: 100%; content: ""; display: block; height: 1rem; position: absolute; right: 3rem; top: 2.5rem; width: 1.6rem; }
.gnb_left .area_menu .depth01.hideAfter .depth01_item::after { display: none}
.gnb_left .area_menu .depth02_menu { background-color: #131f55; display: none; padding: 1.2rem 3rem; }
.gnb_left .area_menu .depth02 { background-color: #131f55; border-bottom: 1px solid transparent; width: 100%; }
.gnb_left .area_menu .depth02.on span { position: relative; }
.gnb_left .area_menu .depth02.on span::after { background-color: #fff; bottom: -0.4rem; content: ""; height: 1px; left: 0; position: absolute; width: 100%; }
.gnb_left .area_menu .depth02 .depth02_item { font-size: 1.6rem; line-height: 1; line-height: 4rem; position: relative; }
.gnb_left .area_menu .depth02 .depth02_item.item_toggle::after { background-image: url(/public/img/managementpage/icons/icon_plus.png); background-position: center; background-repeat: no-repeat; background-size: 100%; content: ""; display: block; height: 1.2rem; position: absolute; right: 0; top: 1.4rem; width: 1.2rem; }
.gnb_left .area_menu .depth02 > a > i { font-size: 1.2rem; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.gnb_left .area_menu .depth02 > ul { background-color: #26357c; display: none; margin-bottom: 1.2rem; margin-top: 0.2rem; padding-bottom: 0.7rem; padding-left: 1.5rem; padding-right: 1.5rem; }
.gnb_left .area_menu .depth03 { padding-top: 0.7rem; }
.gnb_left .area_menu .depth03 > a { color: #aaa; font-family: "NotoSansRegular", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; font-size: 1.4rem; line-height: 3rem; }
.gnb_left .area_menu .depth03 > a.on, .gnb_left .area_menu .depth03 > a:active, .gnb_left .area_menu .depth03 > a:focus, .gnb_left .area_menu .depth03 > a:hover { color: #fff; font-family: "NotoSansMedium", "Malgun Gothic", "맑은 고딕", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; }

/* gnb_left menu click 효과 */
/*
.area_menu .depth01.on .depth01_item::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.area_menu .depth02.on .depth02_item.item_toggle::after { background-image: url(/public/img/managementpage/icons/icon_minus.png); top: 1.4rem; }
.wrapper.snb_toggled { height: 100%; }
.wrapper.snb_toggled .status_bar .btn_toggle_gnb::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.wrapper.snb_toggled .gnb_left { margin-left: -30rem; overflow: hidden; }
*/
/* SNB menu click 효과 */
.area_menu .depth01.on > .depth01_item::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.area_menu .depth02.on > .depth02_item.item_toggle::after { background-image: url(/public/img/managementpage/icons/icon_minus.png); top: 1.4rem; }
.wrapper.snb_toggled { height: 100%; }
.wrapper.snb_toggled .status_bar .btn_toggle_gnb::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.wrapper.snb_toggled .gnb_left { margin-left: -30rem; overflow: hidden; }


.pop_contents {
  min-width: 0px;
  width:100%;
}

.popup_layer1 { background-color: #fff; height: auto; left: 50%; max-width: 66rem; padding-bottom: 3rem; position: fixed; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; z-index: 100; }
.popup_layer1 .wrap_contents { font-size: 1.6rem;  padding: 3rem; }
.popup_layer1 .inner { font-size: 1.6rem; padding: 3rem; width: 100%; }
.popup_layer1 .wrap_btns { margin-top: 0; }
.popup_layer1 .search_bar { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.popup_layer1 .wrap_pagenation { margin-top: 0; }
.popup_layer1 .pop_title { border-bottom: 1px solid #eee; color: #111; position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif; height: 6rem; text-indent: 3rem; width: 100%; }
.popup_layer1 .pop_title h3 { font-size: 2rem; }
.popup_layer1 .popup_close { height: 100%; margin-left: auto; position: relative; width: 7.6rem; }
.popup_layer1 .popup_close::after { background-image: url(/public/img/managementpage/icons/icon_x.png); background-position: center; background-repeat: no-repeat; background-size: 1.6rem 1.6rem; content: ""; height: 100%; display: block; position: absolute; right: 0; top: 0; width: 100%; }
.popup_layer1.pop_lg { width: 66rem; }
.popup_layer1.pop_sm { width: 36rem; }
.popup_layer1.pop_sm .pop_title { border-bottom: none; }
.popup_layer1.pop_sm .inner { padding: 2rem 3rem 3rem; }
.popup_layer1 .note_info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.8rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; line-height: 1.555; text-align: center; }


.footer_admin{height: 6rem;}


.wrap_table { margin-top: 0px; }

/* 권한별 메뉴 트리 */
.treeViewMenu div div div div > ul{
    display: grid !important;
    /* grid-template-columns: 1fr 1fr; */
}
.treeViewMenu div div div div > ul > li{
    /* width: 400px; */
    justify-self: center;
}
.treeViewSiteMap div div div div > ul{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}
.treeViewSiteMap div div div div > ul > li{
    justify-self: center;
}