@charset "UTF-8";
/* opacity color */
/* font color */
/* Bg, border color */
.flex_center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* font size */
/* footer */
.footer {
  width: 100%;
  background-color: #333;
  font-size: 1.6rem;
  color: #aaa;
}
.footer .inner {
  width: 140rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 6.1rem;
  padding-right: 6.1rem;
}
.footer .area_other_logo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  border-bottom: 1px solid #555;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 1.8rem;
}
.footer .area_other_logo.only_mob {
  display: none !important;
}
.footer .area_other_logo img {
  height: 2.6rem;
}
.footer .area_other_logo a {
  width: auto;
  margin-left: 4rem;
}
.footer .area_other_logo a img {
  height: 4.4rem;
}
.footer .area_sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
}
.footer .area_sites .wrap_select_family {
  position: relative;
  background-color: transparent;
  width: 25rem;
  height: 6rem;
  line-height: 6rem;
  padding: 0 6rem 0 3rem;
  background-image: url("../img/icon/icon_plus_grey.svg");
  background-position: center right 29px;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  font-size: 1.8rem;
  color: #aaa;
  cursor: pointer;
  margin: 0;
}
.footer .area_sites .wrap_select_family.toggle {
  background-image: url("../img/icon/icon_chevron_up_gray.svg");
}
.footer .area_sites .wrap_select_family ul {
  background: #333;
  border: 1px solid #555;
  border-bottom: 0;
  bottom: 60px;
  left: 0;
  position: absolute;
  width: 25rem;
  z-index: 1;
  display: none;
}
.footer .area_sites .wrap_select_family ul li {
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
}
.footer .area_sites .wrap_select_family ul li:last-child {
  margin-bottom: 0;
}
.footer .area_sites .wrap_select_family ul li a {
  color: #aaa;
  display: block;
  padding: 0 19px;
}
.footer .area_sites .wrap_select_family ul li a:hover {
  color: #111;
}
.footer .area_info {
  padding-top: 4.7rem;
  padding-bottom: 5.5rem;
}
.footer .area_info .wrap_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 4.4rem;
  gap: 3.2rem;
  margin-bottom: 4.4rem;
}
.footer .area_info .wrap_logo img {
  height: auto;
  margin: 0;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  justify-self: flex-start;
}
.footer .area_info .wrap_logo img:nth-of-type(2) {
  height: 18px;
}
.footer .area_info .wrap_address {
  width: 100%;
  line-height: 1.5;
  font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .area_info .wrap_address .list_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.footer .area_info .wrap_address .list_address .list_address_item:last-of-type {
  margin-bottom: 0;
}
.footer .area_info .wrap_address .list_address .list_address_item .only_pc_inline {
  display: inline;
}
.footer .area_info .wrap_address .list_address .list_address_item .only_mob_inline {
  display: none;
}
.footer .area_info .wrap_address02 {
  display: block;
  margin-top: 2.6rem;
}
.footer .area_info .wrap_address02 .list_address {
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 1.6rem;
}
.footer .area_links {
  padding-top: 1.2rem;
  padding-bottom: 3.9rem;
  border-top: 1px solid #555;
}
.footer .area_links .wrap_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9rem;
  line-height: 1.5;
}
.footer .area_links .wrap_links a {
  width: auto;
}
.footer .area_links .wrap_links .rel_link {
  position: relative;
  margin-right: 16px;
  margin-left: 16px;
  color: #717171;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.footer .area_links .wrap_links .rel_link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #717171;
  width: 1px;
  height: 13px;
  right: -16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.footer .area_links .wrap_links .rel_link:first-of-type {
  margin-left: 0;
}
.footer .area_links .wrap_links .rel_link:last-of-type::after {
  display: none;
}
.footer .area_links .wrap_links .rel_link:nth-of-type(2) {
  color: #558cf1;
}
.footer .area_links .wrap_copyright {
  font-size: 1.6rem;
  color: #717171;
}

/*********************************************************************************************************
**********************************************************************************************************
**********************************************************************************************************
***********************************************  1420px  *************************************************
**********************************************************************************************************
**********************************************************************************************************
*********************************************************************************************************/
@media all and (max-width: 1420px) {
  .footer .inner {
    width: 90%;
    padding: 0;
  }
  .footer .wrap_logo {
    width: 20rem;
    margin-right: 3rem;
  }
  .footer .wrap_logo img {
    width: 100%;
  }
}
@media all and (max-width: 1024px) {
  .footer {
    width: 100%;
    font-size: 1.4rem;
  }
  .footer .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .footer .area_sites {
    margin-left: 0;
  }
  .footer .area_sites .wrap_select_family {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 4.5rem;
    line-height: 4.3rem;
    border-left: none;
    border-right: none;
    text-align: left;
    padding: 0 5rem 0 2rem;
    font-size: 1.2rem;
    background-image: url(../img/icon/icon_plus_black.svg);
    background-position: center right 21px;
    cursor: pointer;
  }
  .footer .area_sites .wrap_select_family.toggle {
    background-image: url("../img/icon/icon_chevron_up_gray.svg");
  }
  .footer .area_sites .wrap_select_family ul {
    border-bottom: 0;
    bottom: 45px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    text-align: left;
  }
  .footer .area_sites .wrap_select_family ul li a {
    color: #aaa;
    display: block;
    padding: 0 19px;
  }
  .footer .area_info {
    padding-top: 3.2rem;
    padding-bottom: 3.6rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  .footer .area_info .wrap_logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: unset;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-height: unset;
    gap: 1.2rem;
    margin-bottom: 4rem;
  }
  .footer .area_info .wrap_logo img {
    width: auto;
    height: unset;
    -o-object-fit: unset;
       object-fit: unset;
    max-height: 4.7rem;
  }
  .footer .area_info .wrap_logo img:nth-of-type(2) {
    height: 18px;
  }
  .footer .wrap_address {
    padding-left: 0.6rem;
    line-height: 1;
  }
  .footer .wrap_address .list_address {
    margin-bottom: 0;
    gap: 1.6rem;
  }
  .footer .wrap_address .list_address .list_address_item {
    font-size: 1.4rem;
  }
  .footer .wrap_address .list_address .list_address_item:last-of-type {
    margin-bottom: 0;
  }
  .footer .wrap_address02 {
    padding-left: 0.6rem;
    margin-top: 3.2rem;
  }
  .footer .wrap_address02 .list_address {
    font-size: 1.4rem;
  }
  .footer .area_links .inner {
    padding: 0 2rem;
  }
  .footer .area_links .wrap_links {
    margin-bottom: 2.2rem;
    line-height: 1.5;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .area_links .wrap_links .rel_link {
    width: 100%;
    margin-left: 0;
  }
  .footer .area_links .wrap_links .rel_link::after {
    display: none;
  }
  .footer .area_links .wrap_copyright p {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 480px) {
  .footer {
    font-size: 14px;
    height: unset;
  }
  .footer .area_sites {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    gap: unset;
  }
  .footer .area_sites .list_link {
    width: 34rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2rem auto 0.6rem;
  }
  .footer .area_sites .list_link .list_link_item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: none;
  }
  .footer .area_sites .list_link .list_link_item:nth-of-type(1) {
    padding-left: 0;
  }
  .footer .area_sites .list_link .list_link_item:nth-last-of-type(1) {
    border-right: none;
    padding-right: 0;
    padding-right: 1.5rem;
  }
  .footer .select_family {
    width: 16rem;
    height: 3rem;
    background-size: 0.9rem 0.5rem;
    padding: 0 2.3rem 0 1.4rem;
    background-position: center right 2.3rem;
  }
  .footer .wrap_select_family {
    width: 16rem;
    font-size: 12px;
    height: 3rem;
    line-height: 2.8rem;
    background-position: center right 15px;
    padding-right: 2.4rem;
  }
  .footer .wrap_select_family ul {
    bottom: 29px;
  }
  .footer .wrap_bottom {
    margin-top: 0;
    text-align: center;
  }
  .footer .wrap_bottom .wrap_logo {
    width: 100%;
    margin: 2rem auto;
  }
  .footer .wrap_bottom .wrap_logo img {
    width: auto;
    height: 2.8rem;
    margin: auto;
  }
}
/* footer end */