@import "site/total.css";

//component with common setting file
@import "common/common.css";

//component
@import "component/component.css";

@import "pattern/p_content";
@import "pattern/p_common";
@import "pattern/p_layout";
@import "plugin/swiper-bundle.min.css";
@import "site/main.css";