
// /* 스크린리더 a 링크 읽기 */
// @media print {
//     a[href^="http"]:not([href*="mywebsite.com"])::after {
//         content: " ("attr(href) ")";
//     }
// }

.page_inner {
  width: 1400px;
  margin: 0 auto;
}

//////////////////////////////////////////////////////////////////////////////
// @media all and (min-width: 1025px) and (max-width: 1366px) {
@media all and (max-width: 142px) {
  .aside {
    display: none;
  }

  .main {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .page {
    padding-top: 8.4rem;

    .wrap_article {
      padding-left: 2rem;
      padding-right: 2rem;

      .contents_wrap {
        width: 100%;
      }
    }
  }

  .section {
    width: 100%;
  }

  .section.join.terms .page_join_terms {
    padding: 0 2%;
  }

  .section_title.service {
    .box {
      width: 100%;
      padding-left: 2%;
      padding-right: 2%;
      // top: 62%;
    }
  }

  .page_content .wrap_table {
    max-width: 100%;
  }

  /* top 버튼 */
  .wrap_side_btn {
    position: fixed;
    right: 3%;
    bottom: 4rem;
    z-index: 100;
  }

  // 250110
  .page_inner {
    width: 100%;
    padding: 0 1.4rem;
  }
}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
///
// @media all and (max-width: 1120px) {

// }

/* tablet  (큰 태블릿 가로 사이즈 ~ 작은 태블릿 가로 사이즈)  */

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
/* mobile 규격  ( 모바일 기기 _ 실 사이즈 480px 미만의 모든 디바이스 ) */

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
/// 반응형 end
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
// .table th p {
//     letter-spacing: -0.5px;
// }




// @media all and (max-width: 1424px) {

// }

// @media all and (max-width: 1024px) {

// }

// @media all and (max-width: 769px) {

// }

// @media all and (max-width: 481px) {

// }
