@charset "utf=8";
@import "mixset.scss";


/* 문단 줄바꿈 */
.pre_wrap {
	white-space: pre-wrap; 
}

.block_1024 {
	display: none;
}

.block_480 {
	display: none;
}

.block_768 {
	display: none;
}

/* 메인페이지 공통 사항  */

.page_main {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: $color_white; 

	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}
	.btn_action {
		width: 13rem;
	}


	.inner {
			width: 140rem;
			margin: 0 auto;       
			height: 100%;    
			padding-top: 22.5rem;   
	}

	section {       
			width: 100%;
			// height: 100vh;     
			// min-height: 96rem;
			// max-height: 99rem;       
			position: relative;  
			
			.wrap_section_title {
					width: 100%;        
					position: relative;

					.wrap_title_text {
							margin: 0;
							padding: 0;
							text-align: center;
							position: relative;
							margin-bottom: 3.5rem;

							&::before {
									content: '';
									position: absolute;
									width: 40px;
									height: 6px;
									background-color: $color_brand_main;
									border-radius: 3px;
									top: -3.6rem;
									left: 50%;
									transform: translateX(-50%);
							}

							h4 {
									font-family: $font_bold;
									font-size: 4.8rem; 
									margin-bottom: 3rem;                   
									line-height: 1.5;
							}

							p {
									font-family: $font_regular;
									font-size: 2rem;  
									color: $color_ft_777;     
									line-height: 1.5;            
							}
					}

					.btn_action {
							position: absolute;
							right: 0;
							bottom: 0.6rem;
					}
			}
	}

	// .btn_round {
	// 		text-align: center;
	// 		display: flex;
	// 		justify-content: center;
	// 		align-items: center;
	// 		width: 16rem;
	// 		height: 4.8rem;
	// 		font-size: 1.8rem;
	// 		border-radius: 2.5rem;
	// 		font-family: $font_medium;
	// }

	.only_mob {
			display: none;
	}

	.only_pc {
			display: block;
	}

}


/* 스와이퍼 공통사항 */
	
.swiper {        

	img {
			// user-drag: none;
			-webkit-user-drag: none;
			-khtml-user-drag: none;
	}        
}

.wrap_swiper_button {
	width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	color: #1953d5;
	box-sizing: border-box;
	width: 50px;
	height: 50px;

	&::before {
		content: "";
		display: block;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		border: 1px solid #1953d5;
		background-color: #fff;
		position: absolute;
		right: 0;
	}
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 1;
	color: #ccc;
	&::before {
		border-color: #ddd;
	}
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	// content: 'prev';
	// content: '\003C';
	width: 48px;
	font-size: 23px;
	text-align: center;
	z-index: 10;
	font-stretch: ultra-condensed;
	font-weight: lighter;
	text-align: center;
	position: absolute;
	left: 0;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	width: 48px;
	font-size: 23px;
	text-align: center;
	z-index: 10;
	font-stretch: ultra-condensed;
	font-weight: lighter;
	width: 50px;
	text-align: center;
	position: absolute;
	right: 0;
}

.swiper-button-next {
	width: 5rem;
	right: -2.5rem;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	width: 5rem;
	left: -2.5rem;
}

.swiper-container-rtl .swiper-button-prev {
	width: 5rem;
	// right: 0;
	right: -2.5rem;
}

.swiper-container {
	width: 100%;
	display: flex;
	// justify-content: center;
	line-height: 1.5;
	// padding-top: 3rem;
	padding-bottom: 4rem;
}

.swiper-wrapper {
	width: 100%;

	.swiper-slide {
		// width: 22.5rem !important;
		height: 100%;
		// border: 1px solid $color_ddd;
		// border-radius: 20px;
		background-color: $color_white;
		box-sizing: border-box;
		//box-shadow: 4px 4px 16px rgba(21, 40, 95, 0.18);
	}
}

.swiper-pagination {
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;

	// margin-bottom: 8rem;
}

.swiper-pagination-bullet {
	background: #b8bcd5;
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 0.6rem;
	opacity: 1;
	transition: all 0.2s;

	&-active {
		width: 6rem;
		border-radius: 6px;
		background: #333c98;
		opacity: 1;
	}
}

.wrap_section_contents {
	width: 100%;
	position: relative; 
}

/* 메인 비주얼 영역  */


/* 메인 비주얼 */

.main_visual {
	width: 100%;
	// height: 100vh;
	padding-top: 126px;
	color: $color_black; 
	background: linear-gradient(180deg, #ecf2fc, #fff);
	
	.wrap_img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
					object-fit: cover;
					width: 100%;
					height: 100%;
			}
	}

}

.main_visual {
  // background: linear-gradient(180deg, #cdd9f8, #fff), url("../img/main/visual01.png");
  background: linear-gradient(180deg, #cdd9f8, #fff);
	color: $color_black; 
	position: relative;
	// height: 69rem;

	
	.main_visual_inner {
		position: relative;
		width: 140rem;
		height: 69rem;
		margin: 0 auto;

			
			&::before {
				content: '';
				display: block;
				position: absolute;
				height: 89rem;
				width: 80rem; 
				right: 0;
				top: -7rem;
				background-image: url("../img/main/visual01.png");
				background-repeat: no-repeat;
				background-position: center;
			}


        article {   
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 18.6rem; 
            left: 0;     
            z-index: 2;   

            h2 {
                font-size: 4.8rem;
                font-family: $font_bold;
                margin-bottom: 2.6rem;
                line-height: 1.25;
                // order: 2;
            }

            // h3 {
            //     font-size: 2rem;
            //     font-family: $font_light;  
            //     line-height: 1.5;  
            //     margin-bottom: 4rem;                   
            // }

            p {
                font-size: 1.8rem; 
                font-family: $font_light;  
                line-height: 1.5;  
                // margin-bottom: 4rem;   
                // order: 3;        
            }

            .wrap_btn {
                display: flex;
                gap: 1.8rem;
                order: 4;

                // .btn_action {
                //     width: 18rem;
                // }
            }
        }

				.wrap_btn {
					display: flex;
					gap: 1.2rem;
					margin-top: 3.4rem;
			
					.btn_saas {
						position: relative;
						font-family: $font_medium;
						display: flex;
						align-items: center;
												
						width: 24rem;
						height: 7.2rem;
						border-radius: 1rem;
						line-height: 1.25;
						padding-left: 7rem;
						text-align: left;
						background-color: $color_white;			
						color: $color_black;
						border: 1px solid #0f174d;
						transition: all 0.1s;
						font-size: 1.6rem;
			
						&.active,
						&:hover {
							color: $color_white;
							background-color: #0f174d;
						}
			
						&::before {
							content: "";
							position: absolute;
							left: 1.7rem;
							top: 50%;
							transform: translateY(-50%);
							width: 3.6rem;
							height: 3.6rem;
							border-radius: 50%;
							background-image: url("../img/main/icon_01.svg");
							background-repeat: no-repeat;
							background-size: contain;
						}
			
						&.link_saas02::before {
							// background-color: #fff;
							background-image: url("../img/main/icon_02.svg");
						}
			
						&::after {
							content: "";
							position: absolute;
							right: 1.4rem;
							top: 50%;
							transform: translateY(-50%);
							width: 3.6rem;
							height: 1.4rem;
							background-image: url("../img/main/icon_arrow_nv.svg");
							background-repeat: no-repeat;
							background-size: contain;
						}

						&:hover::after {
							background-image: url("../img/main/icon_arrow_wt.svg");
						}
			
			
					}
				}

    }

// // 우측 슬라이드 slide_main_visual
// .slide_main_visual {
// 	position: absolute;
// 	display: block;
// 	right: 22rem;
// 	top: 0;
// 	height: 80rem;
// 	width: 80rem; 
// 	background-color: indianred;

		
// .slide_visual01 {
// 	position: relative;
// 	width: 100%;
// }
// }

// slide_main_visual
  // .inner {
  //   display: flex;
  //   // gap: 10.1rem;
  // }

	}
	





	
	    // 슬라이드 컨트롤러 (재생/정지 버튼)
			.slide_controller {
				margin-left: auto;

        .controller_btns {
            display: flex;
            align-items: center; 
						font-size: 1.4rem;
						height: 5rem;

            .controller_box_state {
                display: flex;
                align-items: center;
								background-color: #cbd8f6;
								border-radius: 1.2rem;
								height: 2.4rem;
								padding: 0 1.4rem;
								
                .swiper-pagination-current,
                .swiper-pagination-total {
                    font-size: 1.4rem;
                }

                .swiper-pagination-total {
                    margin-left: 3px;
                }

                // // 스와이퍼 프로그래스바
                // .swiper-pagination {
                //     width: 30rem;
                //     height: 0.2rem;   
                //     margin-left: 2.4rem;          
                
                //     .swiper-pagination-progressbar-fill {
                //         background-color: $color_brand_main;
                //     }
                // } 
            }

            .controller_box_btn {
                display: flex;
                align-items: center;
                margin-left: .8rem;

                .controller_btn_prev {
                    position: relative;
                    width: 26px;
                    height: 24px;                    

                    &::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 14px;
                        top: 50%;
                        left: 50%;
												transform: translate(-50%, -50%);
                        background-image: url('../img/icon/icon_chevron_left_navy.svg');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center;
                    }
                }

                .controller_btn_next {
                    position: relative;
                    width: 13px;
                    height: 24px;                   

                    &::after {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 16px;
												top: 50%;
												left: 50%;
												transform: translate(-50%, -50%);     
                        background-image: url('../img/icon/icon_chevron_right_navy.svg');
                        background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center;
                    }
                }

                .controller_btn_pause {
									position: relative;
									width: 26px;
									height: 24px;                    

									&::after {
											content: '';
											position: absolute;
											width: 10px;
											height: 14px;
											top: 50%;
											left: 50%;
											transform: translate(-50%, -50%);          
                        // background-image: url("../img/icon/icon_stop_navy.svg");           
                        background-image: url("../img/icon/icon_pause_navy.png");           
												background-repeat: no-repeat;
                        background-size: auto;
                        background-position: center;              
                    }

                    &.pausing {
                        &::after {
                            @include bg_after;   
                            height: 14px;
                            width: 14px;                         
                            background-image: url("../img/icon/icon_play_navy.svg");
                        }
                    }
                }
                
                .controller_btn_play {
                    height: 24px;
                    width: 10px;                     
                    margin: 0 8px;
                    position: relative;
                    display: none;

                    &::after {
                        @include bg_after;                        
                        height: 14px;
                        width: 14px;                             
                        background-image: url("../img/icon/icon_play_navy.svg");                         
                    }
                }
            }             
        }

        .swiper-button-next, 
        .swiper-button-prev {
            visibility: hidden;           
        }

    }        
    
	  
		// <!--  참여 민간 SaaS를 소개합니다 자동 슬라이드 -->
		// <div class="swiper slide_enterprise" id="slide_enterprise">
    .slide_enterprise{
			position: relative;
			// margin: 0 auto;
			
			.slide_enterprise_top {
				position: relative;
				width: 140rem;
				margin: 0 auto;
				display: flex;
				align-self: center;
				height: 5rem;
				justify-content: space-between;
			}

			.slide_enterprise_tit {
				
				h3 {
						position: relative;
						font-size: 24px;
						padding-left: 3.4rem;
						height: 5rem;
						line-height: 5rem;
						&::before {
							content: "";
							display: block;
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 2.4rem;
							height: 2.1rem;
							background-image: url("../img/main/icon_checkbox.svg");
							background-repeat: no-repeat;
							background-size: contain;
							background-position: center;
						}
					}
			}

				.wrap_swiper {
					position: relative;
					width: 100%;
					height: 8rem;
					display: flex;
					align-items: center;

					margin-bottom: 6rem;
					// padding-top: 1.4rem;
					// padding-bottom: 1.4rem;
					border-top: 1px solid #ededed;
					border-bottom: 1px solid #ededed;
					background-color: #fff;

      .swiper-wrapper {
				display: flex;
				align-items: center;
        transition-timing-function: linear;

      }

      // .slider_auto {
				// height: 8rem;
        // margin-bottom: 6rem;
        // padding-top: 1.4rem;
        // padding-bottom: 1.4rem;
				// border-top: 1px solid #ededed;
				// border-bottom: 1px solid #ededed;
				// background-color: #fff;

      // }

      // .wrap_logo_box {
      //   display: flex;
      //   align-items: center;
			// }

      .swiper-slide {
				// flex-shrink: 0;
				// width: auto;
        // max-width: 29.5rem;
				// height: auto;
				// max-height: 3.2rem;
				// padding-left: 3.6rem;
				// padding-right: 3.6rem;

				// height: 7.8rem;
        // line-height: 5rem;
        // border-radius: 2rem;
        // background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        // object-fit: scale-down;

        img {
					width: auto;
          max-width: 20rem;
          height: auto;
          max-height: 3.8rem;
          margin: auto;
          // object-fit: scale-down;
        }
      }
    }
    }


	// 	.wrap_slide_row {
	// 		width: 100%;
	// 		height: 32.8rem;
	// 		background-color: #e0ecf7;
	// 		padding-top: 6rem;
	// 		padding-bottom: 4rem;
	// 		position: relative;

	// 		.mask_blur {
	// 				width: 126rem;
	// 				height: 100%;
	// 				position: absolute;
	// 				z-index: 3;
	// 				// top: 50%;
	// 				top: 0;
	// 				left: 50%;
	// 				// transform: translate(-50%, -50%);
	// 				transform: translateX(-50%);
	// 				pointer-events: none;

	// 				&::before {
	// 						content: "";
	// 						display: block;
	// 						position: absolute;
	// 						top: 0;
	// 						left: -15rem;
	// 						width: 30rem;
	// 						height: 100%;
	// 						z-index: 2;
	// 						background: linear-gradient(to right,
	// 										#e0ecf7 50%,
	// 										rgba(255, 255, 255, 0));
	// 				}

	// 				&::after {
	// 						content: "";
	// 						display: block;
	// 						position: absolute;
	// 						top: 0;
	// 						right: -15rem;
	// 						width: 30rem;
	// 						height: 100%;
	// 						z-index: 2;
	// 						background: linear-gradient(to left,
	// 										#e0ecf7 50%,
	// 										rgba(255, 255, 255, 0));
	// 				}
	// 		}

	// 		.slide_row {
	// 				position: relative;
	// 				width: 126rem;
	// 				margin: auto;
	// 				overflow: hidden;
	// 		}

	// 		.swiper-wrapper {
	// 				width: 120rem;
	// 				display: flex;
	// 				gap: 2.2rem;
	// 		}

	// 		.swiper-slide {
	// 		// .box_circle {
	// 				position: relative;
	// 				width: 14rem;
	// 				height: 14rem;
	// 				background-color: $color_white;
	// 				border-radius: 50%;

	// 				img {
	// 						width: 11rem;
	// 						height: auto;
	// 						margin: auto;
	// 						object-fit: scale-down;
	// 						position: absolute;
	// 						top: 50%;
	// 						left: 50%;
	// 						transform: translate(-50%, -50%);
	// 				}
	// 		}
	// }

		

/* section_01  */



.section_01 {

	background-color: #e3e9f5;
	padding-bottom: 6rem;

	// overflow: hidden;

	// .inner {
	//     // overflow: hidden;
	//     // width: 100%;
	//     // max-width: 1420px;

	// }

	.swiper-pagination {
		top: unset;
		bottom: -1.9rem;
	}

	.wrap_section_contents {
			width: 100%;
			position: relative; 

			.swiper-button-prev.disabled {
					pointer-events: none;
					opacity: 0.5;
			}

			.swiper-button-next.disabled {
					pointer-events: none;
					opacity: 0.5;
			}

			// 스와이퍼 콘텐츠
			.swiper_main_section_01 {
					width: 100%;
					// height: 100%;        
					// position: relative;
					// max-width: 1420px;
					overflow: hidden;
			
					filter: drop-shadow(5px 5px 10px #0f174d33);
					background-color: $color_white;
					border-radius: 2rem;
					
					padding-top: 7.7rem;
					padding-left: 14rem;
					padding-bottom: 7.7rem;
					padding-right: 13.9rem;

					&::before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 10.2rem;
						height: 100%;
						background-image: url("../img/main/bg_func_lt.png");
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}

					&::after {
						content: "";
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 10.1rem;
						height: 100%;
						background-image: url("../img/main/bg_func_rt.png");
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}

					.swiper-wrapper {
					width: 100%;
	

						position: relative;
						
						// &::before {
						// 	content: "";
						// 	display: block;
						// 	position: absolute;
						// 	left: 0;
						// 	top: 50%;
						// 	transform: translateY(-50%);
						// 	width: 2.4rem;
						// 	height: 2.1rem;
						// 	background-image: url("../img/main/icon_checkbox.svg");
						// 	background-repeat: no-repeat;
						// 	background-size: contain;
						// 	background-position: center;
						// }

				
					}

					// 개별 슬라이드 안 콘텐츠
					.swiper-slide {           
							// visibility:hidden;
							&.swiper-slide-active { 
								visibility:visible; 
							}

							article {
									display: flex;
									justify-content: space-between;
									width: 100%;
									height: 100%;
									color: $color_black;

									// justify-content: space-between;
									// gap: 0;
									// gap: 10rem;
								
										h2 {
											font-family: $font_bold;
											font-size: 3rem;
											// line-height: 1.5;
											margin-top: 1.2rem;
											margin-bottom: 1.6rem;
									}
							
									h4 {
											font-family: $font_medium;
											font-size: 1.6rem;
									}
																// h4 {
									// 	// color: #1953d5;
									// 		// font-family: $font_bold;
									// 		font-size: 1.6rem;
									// 		margin-bottom: 1.9rem;
									// }

									h5 {
										// color: #1953d5;
											// font-family: $font_bold;
											font-size: 1.6rem;
											// line-height: 1.5;
											font-size: 1.8rem;
											margin-top: 2.4rem;
											margin-bottom: 1rem;
									}
							
									p {
										// font-size: 1.6rem;
										line-height: 1.5;
									}
									
									.sub_txt {
										color: #1953d5;
										margin-bottom: 1.9rem;
									}
									.func_group_tit {
										margin-top: 3rem;
										margin-bottom: 1.5rem;
									}
							
											.func_group {
													width: 100%;    
													// height: 21.5rem;              
													display: flex;
													gap: 1.1rem ;    
													margin-bottom: 3.3rem;

													.wrap_box_func {
														// display: flex;
														// flex-direction: column;
														// align-items: center;
														// justify-content: center;
														// flex-grow: 0;
														// width: 5.4rem;
														.func_tit {
															font-size: 12px;
															line-height: 1.25;
															width: 100%;
															margin-top: 2.2rem;
															text-align: center;
															letter-spacing: -1px;
														}
														.ti_10 { text-indent: -1rem;}
														.ti_15 { text-indent: -1.5rem;}
                            
														.func_img {
																// position: relative;
																width: 100%;    
																flex-wrap: wrap;
																display: flex;
																align-items: center;
																justify-content: center;

																// gap: 1.6rem ;                          
																width: 5.4rem;
																height: 5.4rem;
																border-radius: .8rem;
																overflow: hidden;                         
																background: linear-gradient(180deg, #7D93EF, #4467F2);

																img {
																		width: auto;
																		height: auto;
																		max-width: 3.6rem;
																		max-height: 3.6rem;
																		object-fit: contain;
																}
														}

												}


											
                      

													// &.multiple_2col {
													// 		width: 60%;    
													// 		flex-wrap: wrap;
													// 		display: flex;
													// 		gap: 2rem ;          

													// 		align-items: flex-end;

													// 		.wrap_app_logo {
													// 				width: 9.6rem;
													// 				height: 9.6rem;
													// 				border-radius: 2rem;
													// 				overflow: hidden;                         
													// 				box-shadow: 5px 5px 15px 0 rgba($color: #253579, $alpha: 0.14);   
																	
													// 				img {
													// 						width: 9.6rem;
													// 						height: 9.6rem;
													// 				}
													// 		}
													// }

													// &.under_two {
													// 		display: flex;
													// 		gap: 3rem ;     
													// 		align-items: flex-end;

													// 		.wrap_app_logo {
													// 				width: 14rem;
													// 				height: 14rem;
													// 				border-radius: 2.4rem;
													// 				overflow: hidden;                         
													// 				box-shadow: 5px 5px 15px 0 rgba($color: #253579, $alpha: 0.14);   
																	
													// 				img {
													// 						width: 14rem;
													// 						height: 14rem;
													// 				}
													// 		}
													// }
											} 
									
									.wrap_img {
										width: 62rem;
										height: 36.4rem;
										border-radius: 2rem;
										border: 1px solid #E3E9F5;
											// width: 100%;
											// width: calc(100% - 50rem);
											// order: 1;   

											.img_wrap_box {
													width: 100%;
													// height: 46rem;
													display: flex;
													justify-content: center;
													align-items: center;
													// padding: 4rem;
											
													img {
													// width: 100%;
													width: auto;
													height: auto;
													max-width: 96%;
													max-height: 30.8rem;
													// object-fit: contain;
													// object-fit: scale-down;
													}
											}                       
									}
							}
					}    

			}
	}

	// .swiper-button-next {
	// 		right: 2rem;
	// 		bottom: 28rem;   
	// 		height: 5.4rem;
	// 		width: 2.8rem;      
			
	// 		&::after {
	// 				content: '';
	// 				position: absolute;
	// 				height: 5.4rem;
	// 				width: 2.8rem; 
	// 				background-image: url('../img/icon/icon_chevron_right_gray.svg');
	// 				background-repeat: no-repeat;
	// 				background-position: center;
	// 		}   
	// }

	// .swiper-button-prev {
	// 		left: 2rem;
	// 		bottom: 28rem;   
	// 		height: 5.4rem;
	// 		width: 2.8rem; 
			
	// 		&::after {
	// 				content: '';
	// 				position: absolute;
	// 				height: 5.4rem;
	// 				width: 2.8rem; 
	// 				background-image: url('../img/icon/icon_chevron_left_gray.svg');
	// 				background-repeat: no-repeat;
	// 				background-position: center;
	// 		}   
	// }

	// // 스와이퍼 프로그래스바
	// .swiper-pagination-progressbar {
	// 		width: calc(100% - 16rem);            
	// 		height: 0.2rem;
	// 		bottom: 9rem;       
	// 		left: 50%;
	// 		transform: translateX(-50%);    
	// 		background-color: $color_ccc; 
			
	// 		.swiper-pagination-progressbar-fill {
	// 				background-color: $color_brand_main;
	// 		}
	// } 

}

/* swiper_main_section_02 */

.section_02 {
	// .wrap_section_contents {

	// }
	.swiper-pagination {
		top: unset;
		bottom: -2rem;
	}
}

.swiper_main_section_02 {
	// position: relative;
	border-radius: 2rem;
	background-color: #edf4fc;
	padding: 2.4rem 3rem 6rem;

	.swiper-slide {
		width: 32rem;
		// height: 100%;
		border: 1px solid $color_ccc;
		border-radius: 1rem;
		background-color: $color_white;
		box-sizing: border-box;

		padding-top: 1.6rem;
		padding-left: 2.9rem;
		padding-right: 2.9rem;
		padding-bottom: 6.3rem;
		box-shadow: 5px 5px 20px rgba($color: #253579, $alpha: 0.1);
		//box-shadow: 4px 4px 16px rgba(21, 40, 95, 0.18); 

		.top_cont {
			display: flex;
			gap: 1.6rem;
			margin-bottom: 1rem;

		}
		.img_box {
				width: 8.4rem;
				height: 8.4rem;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid $color_ccc;
				border-radius: 1rem;
				// padding: .5rem;

        img {
					width: auto;
          max-width: 7.5rem;;
          height: auto;
          max-height: 7.5rem;
          margin: auto;
				}
		}

		.service_form_tag_box {
			display: flex;
			flex-direction: column;
			gap: .6rem;

				.service_form_tag {
					display: inline-block;
					width: fit-content;
					font-size: 1.2rem;
					padding: 0.6rem 1.2rem;
					text-align: center;
					line-height: 1;
					background-color: #333c98;
					border-radius: 1.2rem;
					color: $color_white;
				}
		}

		.tag_box {
				.service_platform_box {
						margin-bottom: 1.2rem;

						.service_platform {
								font-family: $font_bold;
								margin-bottom: 0.7rem;
								width: 100%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								word-break: break-all;

						}
						.service_com {
								color: $color_777;
						}
				}

				.platform_intro_box {
						padding-bottom: 1.5rem;

						.platform_intro {
								font-size: 1.4rem;
						}
				}

				
				span {
					display: inline-block;
				}
				
		}

		.service_tag_box {
			height: 10rem;

			.service_tag_list {
				display: flex;
				flex-wrap: wrap;
				gap: .6rem;
				
				.service_tag_item {
					display: inline-block;
						border: 1px solid #333c98;
						border-radius: 4px;
						font-size: 1.2rem;
						font-family: $font_medium;
						background-color: $color_white;
						color: #333c98;
						box-sizing: border-box;
						padding: 0.4rem 1.1rem;

					}
			}
	}

	.bot_cont {
		margin-top: 1.2rem;
		display: flex;

		.bot_cont_tit {
			font-family: $font_bold;
			font-size: 1.4rem;
			width: 7.3rem;
			flex-shrink: 0;
			line-height: 1.5;

			.bot_cont_txt {
				overflow: hidden;
				height: 4.2rem;
				font-size: 1.4rem;
				font-family: $font_light;
				// @include ellipsis_multi;		
			}
		}
	}

	.btn_action {
		position: absolute;
		right: 2.9rem;
		bottom: 1.7rem;
		margin-left: auto;
	}
}
}


.wrap_btn_veiw_all {
	margin-top: 4rem;
	@include flex_center;

	.btn_veiw_all {
		position: relative;
    width: 20rem;
    height: 5rem;
		line-height: 4.8rem;
    font-size: 2rem;
    border-radius: 1rem;
    text-align: left;
		border: 1px solid $color_brand_main;
		padding-left: 2.2rem;
		color: #fff;
		background-color: $color_brand_main;
		border-color: $color_brand_main;
		font-family: $font_medium;

		&:hover, 
		&:active {
			border-color: $color_brand_main;
			background-color: #fff;
			color: $color_brand_main;
		}

		&::after {
			content: "";
			position: absolute;
			right: 2.1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 1rem;
			height: 1.7rem;
			background-image: url("../img/icon/icon_chevron_right_white.svg");
			background-repeat: no-repeat;
			background-size: contain;
	}

	&:hover::after,
	&:active::after {
			background-image: url("../img/icon/icon_chevron_right_blue.svg");
	}

	}
}

/* section_03 */

.section_03 {

	.inner {
		padding-bottom: 6rem;
	}
	.swiper-pagination {
		top: unset;
		bottom: -1.9rem;
	}

	.swiper_main_section_03 {
		// width: 133rem;
		height: 453px;
		padding: 2.4rem 3rem 5.9rem;
		border-radius: 2rem;
		background-color: #edf4fc;
		box-shadow: 5px 5px 15px 0 rgba($color: #253579, $alpha: 0.14);
		border: 1px solid $color_ccc;
		background-color: $color_white;

		// .swiper-wrapper {
		// 	height: 369px;

		// }

    .swiper {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }

	}

	.swiper-slide {
		
		display: flex;
		justify-content: center;
		align-items: center;

		a  {
			width: 32rem;
			height: 17.4rem;
			display: flex;
			flex-direction: column;
			align-items: center;
	
			padding-top: 2.5rem;
			padding-bottom: -2rem;
			background-color: #cbdef4;
			border-radius: 1rem;
	
			.img_box {
				width: 9.2rem;
				height: 9.2rem;
				border-radius: 50%;
				background-color: $color_white;
	
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
			
				img {
					width: auto;
					max-width: 5rem;
					// min-width: 3.9rem;
					height: auto;
					max-height: 4.8rem;
					// min-height: 4rem;
					margin: auto;
			}
			}
			
		.label_box {
			margin-top: 1.3rem;
			p {
				font-family: $font_bold;
				font-size: 1.8rem;
			}
		}
	
	}
	}
}
