@charset "UTF-8";
@import 'mixset_cp.scss';

// // 애니메이션
// @mixin animation-mixin($name) {
//     @keyframes #{$name} {
//         @content;
//     }
// }

.header {
  // position: fixed;
  // background-color: $color_white;
  // top: 0;
  // left: 0;
  // z-index: 5000;
  // position: relative;
  // 네비게이션 호버시 배경 dim 효과

  .nav_dim {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition-property: visibility, opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
  }

  .wrap_gnb {
    width: 100%;
    position: absolute;
    z-index: 1000;
  }

  .header_inner {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
}

/* PC 버전 GNB */
.gnb_pc {
  /* 헤더 최상단 화면 크기 제어 + 로그인 버튼 영역 */
  .area_top {
    width: 100%;
    // height: 4rem;
    background-color: $color_white;
    // border-bottom: 1px solid  rgba(0, 0, 0, 0.1);

    &.gnb_scroll_change {
      background-color: rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &.gnb_scroll_change:not(.on) {
      // color: $color_white;
      .top_line_bnr {
        background-color: rgba(0, 0, 0, 0.3);
        p {
          color: $color_white;
        }
      }
      .top_flag_info {
        color: $color_white;
      }
      .chk_nuri_addr_bnr {
        // background-color: rgba(0, 0, 0, 0.3);
        color: $color_white;
        strong {
          color: $color_white;
        }
        p a {
          color: $color_white;
        }
      }
    }

    &.on {
      background-color: $color_white;
      // border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    }

    .area_top_inner {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // height: 100%;
      // padding: 0 4rem;
      // padding-top: 1rem;
      // padding-bottom: 1rem;
      // margin: 0 auto;
      overflow: hidden;
      // background-color: var(--krds-secondary-5);
      // padding-right: 2%;
      position: relative;
      border-bottom: 1px solid #ededed;

      // margin-left: auto;

      
//   전자정부누리집
  .top_line_bnr {
    background-color: #edf1f5;
    position: relative;
    z-index: 100;
    height: 33px;
    border-bottom: 1px solid #ededed;
  
    &.bnr_hide:after {
      background: #cdd7e4;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: 32px;
      width: 100%;
    }

    .top_link_wrap .top_inner {
        // max-width: 1480px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        padding: 0.8rem 4rem;
        // border-bottom: 1px solid #cdd7e4;
      }
      .chk_nuri_addr_bnr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .top_inner {
          margin: 0 auto;
          width: 100%;
          box-sizing: border-box;
          padding: 0 4rem;
        }
      }
      
      .top_flag_wrap {
        align-items: center;
        color: #555;
        display: flex;
        font-size: 15px;
        line-height: 16px;
        // max-width: 1480px;
        // margin: 0 auto;
      
        position: relative;
        // display: flex;
        width: 100%;
        margin: 0 auto;
      }
      
      .top_flag_in {
        font-size: 12px;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 37px;
      
        // img {
        //   margin-right: 9px;
        //   width: 24px;
        // }
      
        &::before {
          content: "";
          display: inline-flex;
          position: absolute;
          left: 0;
          width: 29px;
          height: 20px;
          // margin-right: 8px;
          background: url("../img/logo/top_ban_ico_flag.svg") no-repeat center;
          background-size: contain;
        }
      }
      
      .top_flag_info {
        color: #003675;
        cursor: pointer;
        font-size: 14px;
        margin-left: 18px;
        padding-right: 20px;
        position: relative;
        border: 0;
        background: none;
      
        &:after {
          background: url("../img/icon/icon_arrow_down_blue.svg") (center / 100%) auto no-repeat;
          content: "";
          height: 16px;
          margin-top: -8px;
          position: absolute;
          right: 0;
          top: 50%;
          transition: 0.4s ease-in-out;
          width: 16px;
        }
      
        &.on:after {
          transform: rotate(-180deg);
        }
      
        span {
          display: inline-block;
          height: 0;
          overflow: hidden;
          text-indent: -20000px;
          width: 0;
        }
      }
      
      .chk_nuri_addr_bnr {
        position: relative;
        top: 0px;
        left: 0;
        // background: #edf1f5;
        display: none;
        padding: 24px 0 15px;
        z-index: 202;
      
        strong,
        p {
          padding-left: 28px;
        }
      
        strong {
          color: #555;
          display: inline-block;
          font-size: 17px;
          font-weight: 700;
          line-height: 20px;
          position: relative;
      
          &:before {
            background: url("../img/icon/icon_nuri.svg") (center / 20px) auto no-repeat #fff;
            border-radius: 50%;
            content: "";
            left: 0;
            height: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
          }
        }
      
        p {
          color: #555;
          font-size: 15px;
          margin-top: 16px;
      
          a {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 1px;
            color: #555;
            padding: 15px 0;
      
            &:after {
              content: "";
              width: 16px;
              height: 16px;
              background: url("../img/icon/icon_nuri_go.svg") no-repeat;
              background-size: contain;
            }
          }
        }
      }
  }
  
//   .top_link_wrap_inner {
//     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//   }
  

    }
  }

  .area_state {
    display: none;
    //     .user_info {
    //     display: none;
    // }
  }



  /* 메뉴 영역 */
  .area_menu {
    position: relative;
    width: 100%;
    height: 100%;
    // height: 5.6rem;
    margin: 0 auto;
    background-color: $color_white;
    // padding-top: 33px;
    border-bottom: 1px solid #ededed;

    // &::after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   z-index: 1000;
    //   width: 100%;
    //   height: 1px;
    //   background-color: #fff;
    //   top: 5.9rem;
    // }

    .area_menu_inner {
      position: relative;
      display: flex;
      align-items: flex-start;
      width: 100%;
      padding: 0 4rem;
      margin: 0 auto;
      background-color: #fff;


      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.8rem;
        // margin-right: 10.8rem;

        .logo_anchor {
          display: inline-block;
          width: 22.4rem;
          height: 3.6rem;
          vertical-align: middle;
          background-image: url("../img/logo/logo_saas.svg");

          background-position: center left;
          background-repeat: no-repeat;
          background-size: 100%;
          object-fit: contain;

          &.gnb_scroll_change {
            background-image: url("../img/logo/logo_saas.svg");
          }

          &.on {
            background-image: url("../img/logo/logo_saas.svg");
          }
        }
      }
      // .wrap_menus {
      //     width: 100%;
      // }
    }

    &.gnb_scroll_change {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &.on {
      background-color: $color_white;
    }
  }

  /* lnb 메뉴 */
  .menu_text {
    // background-color: $color_white;
    // width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .lnb_list {
      display: flex;
      // width: 100%;
      position: relative;

      .depth01 {
        position: relative;
        // max-width: 24rem;
        /*   min-width: 19rem;   */



        &:nth-last-of-type(1) {
          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            height: calc(100% - 5.8rem);
            bottom: 0;
            right: 0;
          }

          &:hover {
            .depth01_item {
              &::after {
                width: 100%;
              }
            }
          }
        }

        &.on,
        &:hover {
          .depth01_item {
            position: relative;
            /*    background-color: $color_white; */
            color: $color_brand_main;
            cursor: pointer;

            // // depth01_item li 하단 선
            // &::after {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     width: calc(100% + 1px);
            //     height: 4px;
            //     bottom: 0;
            //     left: 0;
            //     z-index: 1010;
            //     background-color: $color_brand_main;
            //     color: $color_brand_main;
            // }
          }
        }
      }

      .depth01_item {
        position: relative;
        width: 100%;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-family: $font_bold;
        color: $color_111;

        .depth01_item_anchor {
          line-height: 2;
          position: relative;
          padding-right: 2.8rem;
          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            width: 1.4rem;
            height: 0.8rem;
            background-image: url("../../public/img/icon/icon_chevron_down_black.svg");
          }
        }

        &.gnb_scroll_change {
          color: $color_white;
        }

        &.on {
          color: $color_111;
          .depth01_item_anchor {
            &::after {
              background-image: url("../../public/img/icon/icon_chevron_down_blue.svg");
            }
          }
        }
      }

      .depth01 {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
        &:nth-of-type(1) {
          width: 19rem;
          transition: width 0.2s ease-in-out;
        }

        &:nth-of-type(2) {
          .depth01_item {
            // padding-left: 4rem;
            transition: padding-left 0.3s ease-in-out;
          }
        }

        &:nth-of-type(3) {
          .depth01_item {
            // padding-left: 4rem;
            transition: padding-left 0.3s ease-in-out;
          }
          .depth02 {
            padding: 1rem 4.3rem;
          }
        }

        &:nth-of-type(4) {
          .depth01_item {
            // padding-left: 4rem;
            transition: padding-left 0.3s ease-in-out;
          }
          .depth02 {
            padding: 1rem 4.3rem;
          }
        }

        &.on {

            .depth02 {
                visibility: visible;
                animation: opacity 0.2s 1 ease-in forwards;
            }

        }

        // &.on {
        //     &:nth-of-type(1) {
        //         width: 21rem;
        //     }

        //     &:nth-of-type(2) {
        //         .depth01_item  {
        //             padding-left: 0rem;
        //         }
        //     }

        //     &:nth-of-type(3) {
        //         .depth01_item  {
        //             padding-left: 0rem;
        //         }
        //     }

        //     &:nth-of-type(4) {
        //         .depth01_item  {
        //             padding-left: 0rem;

        //         }
        //     }
        // }
      }


      @keyframes opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    

      .depth02_content {
        display: none;
        position: fixed;
        top: 12.5rem;
        left: 0;
        width: 100%;
        height: calc(100% - 52.5rem);
        background-color: #fff;
        border-bottom: 1px solid #ededed;

        padding: 3rem 4rem 4rem 60rem;

      }

      .depth02 {
        transition-property: visibility, opacity;
        opacity: 0;

        position: relative;
        text-align: left;
        word-break: keep-all;
        width: 100%;
        max-width: 24rem;
        min-width: 21rem;
        height: 19.4rem;
        padding: 1rem 3.8rem;
        margin: 3rem 0;

        &::before {
          content: "";
          //display: block;
          position: absolute;
          width: 1px;
          background-color: $color_eee;
          height: 100%;
          left: 0;
          top: 0;
        }

        .depth02_item {
          z-index: 100;

          .depth02_item_anchor {
            margin-top: 2.6rem;
            font-size: 16px;
            font-family: $font_medium;
            line-height: 1.5;

            // &:hover,
            &.on {
              color: $color_brand_main;
            }
          }

          &:nth-of-type(1) .depth02_item_anchor {
            margin-top: 0;
          }
        }

        &.column_2 {
          overflow: hidden;

          .depth02_item {
            float: left;
            width: auto;

            .depth02_item_anchor {
              display: inline-block;
              width: auto;
              // box-sizing: border-box;
            }

            &:nth-of-type(1) {
              a {
                margin-top: 0;
              }
            }

            &:nth-of-type(2) {
              a {
                margin-top: 0;
              }
            }

            &:nth-of-type(2n + 1) {
              width: 40%;
            }
            &:nth-of-type(2n) {
              width: 60%;
            }
          }
        }
      }

      &.on {
        gap: 0;
      }
    }
  }

  .lnb_drop_menu_back {
    display: none;
    background-color: $color_white;
    position: absolute;
    top: 58px;
    width: 100%;
    height: 25.4rem;
    z-index: -1;
  }
  .box_btn_util {
    display: none;
  }

// 상단 유틸메뉴 (사이트맵, 화면크기 조정 등)
    //    250107
      .top_btns_inner {
        position: relative;
        border-bottom: 1px solid #ededed;
      }
      // 상단 유틸메뉴 (사이트맵, 화면크기 조정 등) > top_inner
      .box_btns {
        // display: flex;
        // align-items: center;
        // color: $color_white;
        // font-size: 1.2rem;
  
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $color_white;
        font-size: 1.4rem;
        height: 3.3rem;
        margin-right: 4rem;

        li {
          position: relative;
          padding: 0px 2rem;
          color: $color_555;
        //   font-family: $font_medium;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: .1rem;
            height: 1.2rem;
            background-color: #8e8e8e;    
          }
          &:nth-last-of-type(1) {
            &::after {
                display: none;
            }
          }

          &.gnb_scroll_change {
            color: $color_white;
            border-right: 1px solid $color_white;
          }
  
          &.on {
            // color: $color_111;
            border-right: 1px solid $color_111;
          }
  
          &:last-of-type {
            border-right: none;
          }
  
          &:nth-last-child(1) {
            padding-right: 0;
  
            &::after {
              display: none;
            }
  
            span {
              padding-right: 0.8rem;
            }
          }
        }
      }
  
      .box_btn_zoom {
        display: flex;
        align-items: center;
  
        .btn_zoom {
          width: 2.8rem;
          height: 3.2rem;
          background-image: url("../img/icon/icon_plus_black.svg");
          background-position: center center;
          background-size: 1.8rem 1.8rem;
          background-repeat: no-repeat;

          &.in {
            margin-left: 1.2rem;
          }
  
          &.gnb_scroll_change {
            background-image: url("../img/icon/icon_plus_white.svg");
          }
  
          &.on {
            background-image: url("../img/icon/icon_plus_black.svg");
          }
  
          // &.in { }
          &.out {
            background-image: url("../img/icon/icon_minus_black.svg");
            background-position: center center;
  
            &.gnb_scroll_change {
              background-image: url("../img/icon/icon_minus_white.svg");
            }
  
            &.on {
              background-image: url("../img/icon/icon_minus_black.svg");
            }
          }
  
          &.reset {
            background-image: url("../img/icon/icon_refresh_black.svg");
            background-position: center center;
            background-size: 1.4rem 1.4rem;
            &.gnb_scroll_change {
              background-image: url("../img/icon/icon_refresh_white.svg");
            }
  
            &.on {
              background-image: url("../img/icon/icon_refresh_black.svg");
            }
          }
        }
      }

    // 상단 누리집
    .gov_top_info {
        p {
          height: 40px;
          line-height: 40px;
          // max-width: 1200px;
          margin: 0 auto;
          font-family: $font_medium;
          font-size: 14px;
          padding-left: 52px;
          color: $color_111;
          background: url("../img/logo/logo_eg.png") no-repeat center left;
  
          &.gnb_scroll_change {
            color: $color_white;
          }
  
          &.on {
            color: $color_111;
          }
        }
      }


// 검색창
.search {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    max-width: 1430px;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 0;
    line-height: 0;
  
    &:before {
      display: block;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 245px;
      border-top: 1px solid #e0e0e0;
      background-color: #fff;
      transition-property: opacity, visibility;
      transition-duration: .25s;
      transition-timing-function: ease-in-out;
      transform: translateX(-50%);
    }
  
    &.active:before {
      opacity: 1;
      visibility: inherit;
    }
  

  
    .search_show button:before {
      background-position: left top;
    }
  
    .search_hide button {
      display: none;
    }
  
    &.active .search_hide button {
      display: block;
    }
  
    .search_hide button:before {
      background-position: left 100%;
      background-color: #fff;
    }
  
    .search_panel {
      display: block;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-width: 30rem;
    //   margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      transition-property: opacity, visibility;
      transition-duration: .25s;
      transition-timing-function: ease-in-out;
    }
  
    &.active .search_panel {
      opacity: 1;
      visibility: inherit;
    }
  

}

.wrap_search {
    display: flex;
    align-items: center;
    height: 5.8rem;
    // width: 100%;

.search_form {
    width: 30rem;
    height: 3.4rem;
    border: 1px solid #2f3a84;
    border-radius: 1.7rem;
    position: relative;
    
    }

  legend {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      background: 0 0;
      font-size: 0;
      color: transparent;
      line-height: 0;
  }
  
    .search_input {
      width: 100%;
      height: 3.2rem;
      line-height: 1;
      padding-right: 4.5rem;
      padding-left: 2rem;
      border: 0;
      border-radius: 1.6rem;
      background-color: transparent;
      font-size: 14px;
    //   font-weight: 200;
    //   font-family: 'GmarketSans', sans-serif;
    //   position: relative;


    }
    
    .search_submit {
      position: absolute;
      width: 3.6rem;
      height: 3.2rem;
      right: 0;
    //   background-color: transparent;
      &::before {
        content: "";
          display: block;
          width: 1.8rem;
          height: 1.7rem;
          background-image: url("../img/icon/icon_search.png");
        background-repeat: no-repeat;          
        background-size: 100%;
        background-position: center;
    }
    //   &:before {
    //     margin-right: auto;
    //   }

}















}

}





/* mobile 버전 GNB */
.gnb_mo {
  height: 8.4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;

  .bg_lnb {
    display: none;
  }

  .nav_dim {
    top: 0;
  }

  .wrap_gnb {
    z-index: auto;
  }

  // LNB - MOB open
  // gnb_mob + 좌측 LNB 열기
  &.on {
    .wrap_menus {
      // min-width: 50%;
      width: 84%;
      max-width: 315px;
      height: 100dvh;
      transition: ease-in-out 0.25s;
    }

    .nav_dim {
      top: 0;
      z-index: 2001;
    }

    .wrap_gnb {
      z-index: auto;
    }

    .wrap_menus {
      z-index: 2030;
    }
  }

  .gov_top_info {
    background-color: $color_white;
    width: 100%;
    height: 2.8rem;
    padding: 0 16px;
    border-bottom: 1px solid $color_ddd;
    position: absolute;
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;

    p {
      line-height: 1;
      font-size: 1.2rem;
      padding-left: 22px;
      color: $color_111;
      background: url("../img/logo/logo_eg.png") no-repeat center left;
      background-size: 22px;
    }
  }

  .area_menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 5.2rem;



    // .area_menu_inner {
    //   // position: relative;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   flex-wrap: nowrap;
    //   width: 100%;
    //   // height: 8.3rem;
    //   padding: 1.4rem 1.8rem;
    // }



    .logo {
      display: flex;
      align-items: center;

      .logo_anchor {
        display: inline-block;
        background-image: url("https://saas.go.kr//static/media/logo_big.05f05bdc389c9469d02b.png");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain;
        width: 14rem;
        height: 2rem;
      }
    }

    .box_btn_util {
      display: block;
      // height: 100%;
      width: 2.5rem;
      gap: 0rem;

      .box_btn_item {
        .btn_util_sitemap {
          display: none;
        }

        .btn_util_ham {
          display: block;
          position: relative;
          width: 2.4rem;
          height: 2.2rem;

          &::after {
            width: 100%;
            height: 100%;
            background-image: url("../img/icon/icon_ham.png");
            @include bg_after();
          }
        }
      }
    }
  }

  /* LNB */
  .menu_text {
    .lnb_list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      top: 0;
      // width: 100%;
      overflow-y: auto;

      .depth01 {
        width: 100%;
        background-color: $color_white;

        .depth01_item {
          position: relative;
          line-height: 5rem;
          font-size: 1.6rem;
          border-bottom: 1px solid $color_ddd;
          font-family: $font_medium;
          text-indent: 2rem;
          cursor: pointer;

          &::after {
            display: block;
            position: absolute;
            content: "";
            top: 50%;
            right: 2.45rem;
            transform: translateY(-50%);
            width: 1.5rem;
            height: 0.95rem;
            background-image: url("../img/icon/icon_mob_chevron_down.png");
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 100%;
          }
        }

        &.on {
          .depth01_item {
            &::after {
              transform: rotate(180deg) translateY(50%);
            }
          }
        }
      }

      .depth02 {
        display: none;
        width: 100%;
        background-color: #edf2fc;
        border-bottom: 1px solid $color_ddd;
        padding: 3rem 4rem;

        &.on {
          span {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              bottom: -0.4rem;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: $color_white;
            }
          }
        }

        .depth02_item {
          position: relative;
          line-height: 1;
          font-size: 1.6rem;
          font-family: $font_medium;
          word-break: keep-all;

          &:not(:nth-last-of-type(1)) {
            margin-bottom: 20px;
          }

          &.item_toggle {
            &::after {
              display: block;
              position: absolute;
              top: 1.4rem;
              right: 0;
              width: 1.2rem;
              height: 1.2rem;
              background-image: url("../../public/img/icons/icon_plus.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%;
              content: "";
            }
          }
        }
      }
    }
  }

  .wrap_menus {
    position: relative;
    
    width: 0;
    height: 100dvh;
    min-height: 100dvh;
    z-index: 2020;
    /* 100vh; 크로스 브라우징 */
    /*             @supports (-webkit-appearance:none) and (stroke-color: transparent) {
            min-height: -webkit-fill-available;
        } */
    background-color: $color_white;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    // position: absolute;
    top: 0;
    // top: -32px;
    right: 0;
    display: flex;
    flex-direction: column;

    // 모바일 상단 로그인 상태창
    .area_state {
      position: relative;
      width: 100%;
      padding: 2rem 2rem 2.4rem;
      background-color: #faf9fe;
      border-bottom: 1px solid $color_ddd;

      .btn_close_menu {
        position: absolute;
        z-index: 6000;
        top: 2rem;
        right: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        background-image: url("../img/icon/icon_close.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

      .user_info {
        position: relative;

        .logo_lnb {
          text-align: center;
          margin-top: 4rem;
          width: auto;
          height: 2.7rem;

          img {
            width: auto;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
          }

          a {
            img {
              width: auto;
              height: 100%;
              object-fit: cover;
              margin: 0 auto;
            }
          }
        }

        .box_state {
          width: 100%;
          padding-top: 2.1rem;

          .greeting {
            color: $color_111;
            font-size: 1.4rem;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 0.5rem;
          }

          .wrap_gnb_btn {
            display: flex;
            justify-content: center;

            .btn_action {
              width: 16.5rem;
              height: 3.5rem;
              border-radius: 8rem;
              position: relative;
              font-size: 1.4rem;
              text-indent: 1.5rem;
              line-height: 3.5rem;

              &.link_related_white {
                &::after {
                  content: "";
                  position: absolute;
                  right: 1.4rem;
                  top: 50%;
                  transform: translateY(-50%);
                  width: 2rem;
                  height: 2rem;
                  background-image: url("../img/icon/icon_outbound_white.svg");
                  background-repeat: no-repeat;
                  background-size: contain;
                }
              }
            }
          }

          .user_auth_state {
            color: $color_aaa;
            text-align: center;
            margin-top: 1rem;
          }

          .box_btn_info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 23rem;
            margin: 0 auto;
            margin-top: 1.5rem;

            .btn_info {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 11rem;
              height: 3rem;
              border-radius: 0.35rem;
              color: $color_111;
              text-align: center;
              background-color: $color_111;
            }
          }
        }

        .area_profile {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          gap: 1.5rem;

          .wrap_img_profile {
            overflow: hidden;
            position: relative;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            background-color: $color_brand_main;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              // background: url("https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_profile.svg");
            }
          }

          .wrap_txt_profile {
            width: calc(100% - 6.5rem);
            font-family: $font_regular;

            h3 {
              width: 100%;
              color: $color_white;
              font-size: 1.8rem;
            }

            // .user_name {
            // }

            .user_auth_state {
              width: 100%;
              margin-top: 1rem;
              color: $color_aaa;
              font-size: 1.4rem;
            }
          }
        }

        .user_btns {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem;
          gap: 1rem;
        }
      }
    }
  }
}

html.open_lnb {
  body {
    overflow: hidden;
    touch-action: none;
  }

  .header {
    .nav_dim {
      opacity: 1;
      visibility: visible;
      overflow: hidden !important;
      touch-action: none;
    }
  }

  .gnb_pc {
    .area_menu {
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 1px;
        background-color: $color_ddd;
        bottom: 0;
      }
    }
  }
}

@media all and (max-width: 1501px) {
  // .header {
  // }
  .gnb_pc {
    .area_menu {
      .area_menu_inner {
        .logo {
          margin-right: 6.8rem;
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////

@media all and (max-width: 1391px) {
  .header {
    width: 100%;
  }

  /* 메뉴 영역 */
  .gnb_pc {
    // .area_top .area_top_inner {
    //     padding: 0 2%;
    // }
    .area_menu {
      .area_menu_inner {
        padding: 0 2%;

        .logo {
          margin-right: 6rem;

          .logo_anchor {
            width: 18rem;
            height: 2.6rem;
            background-size: 100% 2.6rem;
          }
        }
      }
    }

    /* lnb 메뉴 */
    .menu_text {
      .lnb_list {
        .depth01 {
          &:nth-of-type(1) {
            /* width: auto; */

            .depth02 {
              min-width: 17rem;
              padding: 1rem 3.3rem;
            }
          }
          &:nth-of-type(2) {
            .depth01_item {
              padding-left: 5rem;
            }
            .depth02 {
              min-width: 16rem;
              padding: 1rem 3.3rem;
            }
          }
          &:nth-of-type(3) {
            .depth01_item {
              padding-left: 5rem;
            }
            .depth02 {
              min-width: 16rem;
              padding: 1rem 3.3rem;
            }
          }
          &:nth-of-type(4) {
            .depth01_item {
              padding-left: 5rem;
            }
            .depth02 {
              min-width: 16rem;
              padding: 1rem 3.3rem;
            }
          }

          &.on {
            &:nth-of-type(2) {
              width: 21rem;
            }
          }
        }

        .depth02 {
          /*   display: none; */
          min-width: 16rem;
          padding: 1rem 2.4rem;

          .depth02_item {
            .depth02_item_anchor {
              margin-top: 2.4rem;
            }
          }
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
///
/// 
/// // 전자정부누리집 
// @media all and (max-width: 1100px) {

// }

@media all and (max-width: 1200px) {
  .top_link_wrap .top_inner,
  .chk_nuri_addr_bnr .top_inner {
    padding: 0.8rem 17px;
  }
}

@media all and (max-width: 640px) {
  // .top_link_wrap {
  // padding: 4px 0;
  // }

  .top_flag_wrap {
    font-size: 14px;
  }

  .top_flag_in {
    font-size: 14px;

    img {
      width: 18px;
    }
  }

  .top_flag_info {
    font-size: 13px;
    margin-left: 10px;
    padding-right: 16px;
    border-radius: 6px;
  }

  .chk_nuri_addr_bnr {
    padding: 24px 0 10px;

    strong,
    p {
      padding-left: 24px;
    }

    strong {
      font-size: 15px;

      &:before {
        background-size: 10px auto;
        height: 16px;
        width: 16px;
      }
    }

    p {
      font-size: 14px;
      margin-top: 12px;

      a {
        background-size: 14px auto;
        padding: 16px 18px 16px 0;
      }
    }
  }
}

@media all and (max-width: 580px) {
  .top_flag_wrap {
    display: block;
  }

  .top_flag_info {
    padding: 3px 16px 5px 27px;
    margin-left: 0;
  }
}

@media all and (max-width: 390px) {
  // .top_link_wrap {
  // padding: 8px 0 2px 0;
  // }

  .top_flag_in {
    font-size: 13.5px;
  }
}

// 전자정부누리집 end 


// 메뉴 및


// &::after {
//     content: "";
//     display: block;
//     position: absolute;
//     z-index: 1000;
//     width: 100%;
//     height: 1px;
//     background-color: #ddd;
//     bottom: 0;
//   }
