@charset "UTF-8";
@import "mixset.scss";

  .guide_container {
    margin-top: 8rem;
    // margin-bottom:  16rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: $color_bg_lightblue;

    .shadow_box {
      overflow: hidden;
    }

    // .title_article{
    //     text-align:left;

    //     &.title_upperline:before{
    //         left:0;
    //         transform: translateX(0);
    //     }
    // }
    p {
      text-align: left;
      margin-bottom: 5rem;
    }

    .cont_1 {
      width: 100%;
      // padding: 8rem 6rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: calc(100% - 12rem);
        background-color: $color_ccc;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      .service_btns {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;

        .service_btn {
          width: calc((100% - 21rem) / 8);
          //카테고리 9, 10개일경우 :  width:calc((100% - 18rem) / 5);
          height: 187px;
          border-radius: 3rem;
          background: linear-gradient(-45deg, #3551dc, #7250df);

          a {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            position: relative;
            padding-top: 34px;

            span {
              display: block;
              margin-bottom: 5px;
              img {
                margin: 0 auto;
                width: 6rem;
                height: 6rem;
              }
            }

            p {
              text-align: center;
              font-size: 1.8rem;
              color: $color_white;
              font-family: $font_medium;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              background-image: url("../img/icon/icon_longarrow_right_white.png");
              background-position: center;
              background-size: 100%;
              background-repeat: no-repeat;
              width: 26px;
              height: 20px;
              bottom: 21px;
              left: 50%;
              transform: translateX(-50%);
              transition: all 0.2s ease-in-out;
            }

            &:hover:after {
              transform: translateX(-30%);
            }
          }
        }
      }
    }

    .cont_2 {
      // padding: 8rem 6rem;

      .cont_2_txtbox {
        width: 100%;
        padding: 5.3rem 10rem 3.4rem;
        // background-color: $color_bg_lightblue;
        background-color: $color_white;
        border-radius: 1rem;

        .sub_tit {
          margin-bottom: 0;
          // margin-bottom:4rem;
          // &:last-child{
          // }
          b {
            font-family: $font_bold;
          }

          // .colon {
          //     margin: 0 0.6rem;
          // }

          // .text {
          //     padding-left: 2.5rem;

          //     &:nth-of-type(3) {
          //         padding-left: 0;
          //     }

          //     &:nth-of-type(4) {
          //         display: block;
          //         padding-left: 24rem;
          //     }
          // }

          // &.textBlock_init {
          //     .text:nth-of-type(3) {
          //         padding-left: 1rem;
          //     }
          //     .text:nth-of-type(4) {
          //         padding-left: 33.3rem;
          //     }
          // }
        }

        // 서비스 설명 배너 하단 텍스트
        .gr_txt {
          width: 100%;
          display: flex;
          text-align: left;
          margin-bottom: 1.8rem;
          line-height: 1.75;

          .sub_tit {
            display: flex;
            justify-content: space-between;
            flex-shrink: 0;
            width: 13.6rem;
            font-size: 1.8rem;
            padding-right: 10px;
          }

          .cont_tit {
            position: relative;
          }
          .space {
            display: inline-block;
            width: 14px;
          }
        }

        ul {
          li {
            width: 100%;
            display: inline-block;
            box-sizing: border-box;
            span {
              // box-sizing: border-box;
              // min-width: 0;
              // flex-shrink: 1;
              // flex-grow: 0;
              // word-break: keep-all;

              display: inline-block;
              box-sizing: border-box;
              // white-space: nowrap; /* 줄바꿈 방지 */
              word-break: keep-all;
              margin: 0;
              padding: 0;
              flex: 0 0;
            }

            .download_file {
              position: relative;
              display: inline-block;
              vertical-align: middle;
              width: 3rem;
              height: 2.4rem;

              margin-left: 10px;
              padding: 0 6px;
              // background-color: #005bff;
              // color: white;
              // text-decoration: none;
              // border-radius: 4px;
              // font-size: 14px;

              &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                // right: 2rem;
                transform: translate(-50%, -50%);
                width: 2.4rem;
                height: 2.4rem;
                background-image: url("../img/icon/icon_download_black.svg");
                background-repeat: no-repeat;
                background-size: contain;
              }

              // &:hover {
              //   background-color: #0056b3;
              // }

              // &:active {
              //   background-color: #004085;
              // }
            }
          }
        }
      }
    }

    .cont24_page {
      background: #425782;
      width: 100%;
      height: 14rem;
      padding: 4.8rem 0;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      .wrap_btn {
        // flex: none;
        // display: block;
        .btn_action {
          margin: 0 auto;
          text-align: left;
          padding-left: 21px;
          text-indent: 0;
        }
      }
    }
  }

  