@charset "UTF-8";
@import "mixset.scss";

.page_search {

  .area_left {
    display: flex;

    .wrap_result_num {
      padding-left: 5.8rem;
      position: relative;
      margin-left: 0;
      font-size: initial;

      &::before {
        content: "/";
        display: block;
        position: absolute;
        // top: 1.5rem;
        width: 1rem;
        height: 1.8rem;
        left: 3.2rem;
    }
    }
  }
}

  .wrap_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn_action {
      width: 13rem;
    }

    .result_num {
      color: #2d3981;
    }
  }

	.area_tab {
  position: relative;

  .wrap_tab_button {
    display: flex;
    width: 100%;
    padding: 4rem 3.9rem;
    border-radius: 2rem;
    background-color: #e7ebf7;
    font-family: $font_bold;
    margin-bottom: 6rem;
    // margin: auto;

    .tab_button {
      display: flex;
      align-items: center;
      justify-content: center; 
      width: 20%;
      height: 6rem;
      text-align: center;
      font-size: 22px;
      border: 1px solid #ededed;
      cursor: pointer;
      background-color: #fff;

      &:nth-of-type(1) {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
      &:nth-last-of-type(1) {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    &:nth-of-type(3) {
      border-left: none;
    }
    &:nth-of-type(4) {
      border-left: none;
    }
    &:nth-of-type(5) {
      border-left: none;
    }

      &.active {
        background-color: #303984;
        border-color: #303984;
        color: #fff;
        // border-radius: 1rem;

      }
    }
  }

  .wrap_tab_content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16rem;
    
    .tab_content {
      width: 100%;
      position: relative;
      // margin-top: 16rem;
      display: none;
      
      // &:nth-of-type(1) {
      // margin-top: 8rem;
      // }

      &.active {
        display: block;
        // margin-top: 8rem;
      }

    }
  }
}

/* 검색결과 box */

.wrap_title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 3rem;
  .title_leftCircle {
    margin-bottom: 0;
  }
}

.wrap_result_num {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-family: $font_regular;
}

.result_keyword {
  background-color: #bff0f5;
}

.btn_more {
  // width: 13rem;
  // height: 3.4rem;
  // line-height: 3.2rem;
  // // padding: 0 1.9rem;
  // justify-content: flex-end;
  // font-size: 1.4rem;

  // border-radius: 1.6rem;
  // padding-left: 1.6rem;
  // text-align: left;
  // justify-content: flex-start;

  width: 13rem;
  height: 3.4rem;
  border-radius: 1.7rem;   
  font-size: 1.6rem;
  font-family: $font_medium;
  text-indent: 1.9rem;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 3.2rem;
  color: #2e3a84;
  border: 1px solid #2e3a84;
  margin-left: auto;


    &::after {
      content: "";
      position: absolute;
      right: 1.6rem; 
      top: 50%;
      transform: translateY(-50%);
      width: 0.9rem;
      height: 1.6rem;
      background-image: url("../img/icon/icon_chevron_right_navy.svg");
      background-repeat: no-repeat;
      background-size: contain;
  }

}

.wrap_result_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;

&.notice {
  .result_content_box {
    display: flex;
    align-items: center;
  }
}

&.archive {
  .result_content_box {
    .wrap_content_txt {
      .result_content_tit {
        margin-bottom: 2.5rem;
      }
    }
  }
}

  .result_content_box {
    padding: 2.9rem 4rem 2.9rem 3.9rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(37, 53, 121, 0.1);
    // display: flex;

    .wrap_content_txt {

      .result_content_tit {
        font-size: 2.4rem;
        font-family: $font_bold;
        margin-bottom: 3.5rem;

        .notice_day {
          font-size: 1.6rem;
          color: #777777;
          margin-left: 2rem;
          font-family: $font_regular;
        }
      }

     .result_content_cnt {
      font-size: 1.8rem;
      font-family: $font_light;
      margin-bottom: 3rem;


      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      line-height: 1.5; 
      text-align: left;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      // width: calc(100% - 4rem);
      width: 100%;
     } 

    }

    .wrap_thumb {
      flex-shrink: 0;
      overflow: hidden;
      background-color: #fff;
      border-radius: 2rem;
      width: 24rem;
      height: 18rem;
      border: 1px solid #ccc;
      margin-left: 3.2rem;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }

    .result_content_attached {
      padding: 1.3rem 2rem;
      border-radius: .8rem;
      background-color: #e7ebf7;
      margin-bottom: 1.1rem;

      // display: flex;
      // background-color: #e6ebf8;
      // justify-content: space-between;
      // align-items: center;

      /*  첨부 파일 다운로드 뷰어 ( 상세페이지 게시물 하단 ) */
      .attached_viewer {
        display: flex;
        width: 100%;
      
        .attached_file_counter {
            color: $color_111;
            width: 15.2rem;
        }
        // i.thumb  {
        //     margin-right: 9px;
        // }

        .attached_file_list {
            width: 100%;
            display: flex;
            flex-direction: column;
      
            .attached_file_item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 3.4rem;
                // margin-bottom: 2rem;
                // padding-left: 2.6rem;
                &:not(:nth-last-of-type(1)) {
                    margin-bottom: 1.7rem;
                }
            }
      
            .attached_file_txt,
            .attached_file_btn {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .attached_file_txt  {
                width: calc(100% - 23rem);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            // .thumb {
            //     img {width: 2.6rem;}
            //   }
      
        }
      
        .btn_attached_download {
            width: 13rem;
            height: 3.4rem;
            line-height: 3.2rem;
            border-radius: 1.7rem;
            font-size: 1.6rem;
            font-family: $font_medium;
            position: relative;
            display: flex;
            align-items: center;
            line-height: 3.2rem;
            color: #fff;
            background-color: #0f174d;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
            text-align: left;
            padding-left: 2rem;

            &::after {
              display: block;
              content: "";
              width: 1.8rem;
              height: 1.8rem;
              background-image: url("../img/icon/icon_download_white.svg");
              background-position: center;
              background-repeat: no-repeat;
              background-size: 100%;
              position: absolute;
              right: 1.6rem;
              top: 50%;
              transform: translateY(-50%);
          }

        }

      
      }


    }

    .result_content_step {
      font-family: $font_regular;
      font-size: 1.6rem;
      color: #777;
      margin-bottom: 1.1rem;
    }


  }

}


// @media all and (max-width: 1024px) {



// }

// @media all and (max-width: 768px) {
// }


@media all and (max-width: 480px) { 

}
