@charset "UTF-8";
@import "mixset.scss";

.wrap_search_filter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
	width: 100%;
	gap: 10px;
	padding: 30px;
	background: linear-gradient(-135deg,#7250df, #585dc8);
	border-radius: 20px;
	// background-color: $color_white;
	.search_filter_tit {
		width: 100%;
		font-size: 2.4rem;
		font-family: $font_bold;
		color: #fff;
		margin-bottom: 2rem;
}
	
select {
	font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 2rem;
	padding: 0 2.2rem;
	background-image: url("../img/saas_img/0_common/icon_arrowD_gray.svg");
	background-position: center right 2.5rem;
	background-size: 1.6rem 1.1rem;
}

.box_input {

	.input_searchbar {
		font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
		font-size: 2rem;
		padding: 0 2.5rem;
	}
	.btn_search {
		border-radius: 1rem;
	
		&::before {
			background-image: url("../img/icon/icon_search.svg");
		}
	}
} 

}


@media screen and (max-width: 960px) {
  // .article_title {
  //   margin-bottom: 4rem;
  // }

  .wrap_search_filter {
    border-radius: 1rem;
    display: block;
    font-size: 0;
    padding: 2rem 1.5rem;

		.wrap_select {
			margin-bottom: 1.5rem;
		}

		select {
			background-position: right 1.4rem center;
			background-size: .8rem auto;
			border-radius: 1rem;
			font-size: 1.4rem;
			height: 3.4rem;
			padding: 0 3.5rem 0 1.4rem;
			width: 100%;
		}

    .search_filter_tit {
      font-size: 1.4rem;
    }

    .box_input {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 8.75rem);

			.input_searchbar {
			 font-size: 1.4rem;
			 height: 3.4rem;
		
			 &::placeholder {
				 font-size: 1.4rem;
				 height: 3.4rem;
			 }
		
			 padding: 0 1.4rem;
		 }
		 .input_searchbar {
			font-size: 1.4rem;
			height: 3.4rem;
	
			&::placeholder {
				font-size: 1.4rem;
				height: 3.4rem;
			}
	
			padding: 0 1.4rem;
		}

    }
		
	.box_input .input_searchbar {
    font-size: 1.4rem;
    height: 3.4rem;

    &::placeholder {
      font-size: 1.4rem;
      height: 3.4rem;
    }

    padding: 0 1.4rem;
  }

  .btn_submit.btn_search {
    display: inline-block;
    font-size: 1.4rem;
    height: 3.4rem;
    margin-left: 1rem;
    max-width: initial;
    vertical-align: top;
    width: 7.75rem;

    &::before {
      height: 1.4rem;
      left: 1.35rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.4rem;
    }
  }

	.btn_search {
    display: inline-block;
    font-size: 1.4rem;
    height: 3.4rem;
    margin-left: 1rem;
    max-width: initial;
    vertical-align: top;
    width: 7.75rem;

    &::before {
      height: 1.4rem;
      left: 1.35rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.4rem;
    }
  }
  }

}
