@charset "UTF-8";
/* opacity color */
/* font color */
/* Bg, border color */
.flex_center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* font size */
/* 테이블 */
.wrap_result_table {
  position: relative;
  background-color: #fff;
  min-height: 100%;
  max-height: 100%;
  border-radius: 24px;
}
.wrap_result_table .box_table_top {
  display: flex;
  width: 100%;
  height: 3.4rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
.wrap_result_table .box_table_top .result_num p {
  font-size: 16px;
}
.wrap_result_table .box_table_top .result_num p span {
  color: #3551dc;
}
.wrap_result_table .box_table_top .area_right {
  display: flex;
  gap: 10px;
}
.wrap_result_table .box_table_top .select_sort {
  cursor: pointer;
  color: #111;
  width: 11rem;
  height: 3.4rem;
  z-index: 1;
  font-size: 1.4rem;
  border-radius: 8px;
  padding-left: 2.1rem;
  padding-right: 3.2rem;
  background-image: url("../../img/icon/icon_select_down.svg");
  background-size: 16px 9px;
  background-position: right 16px center;
}
.wrap_result_table .wrap_table {
  width: 100%;
  overflow-x: auto;
  border-top: 1px solid #212121;
}

/* 운영지원센터_공지사항_상세 */
.page.page_notice_detail {
  padding-bottom: 16rem;
}

.article_post .wrap_btns {
  justify-content: flex-end;
  margin-top: 3.2rem;
}
.article_post .wrap_btns .btn_submit {
  width: 15.4rem;
}

/* 운영지원센터_자주 묻는 질문_상세 */
.page_answer_detail .badge {
  margin-top: 0;
}
.page_answer_detail .board_post {
  border-bottom: 1px solid #212121;
}
.page_answer_detail .article_post .post_head {
  display: flex;
  width: 100%;
  align-items: center;
}
.page_answer_detail .article_post .post_head .tit {
  padding-left: 4.8rem;
  position: relative;
}
.page_answer_detail .article_post .post_head .tit::before {
  content: "Q.";
  display: block;
  font-size: 24px;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 1.3rem;
  top: 2.2rem;
}
.page_answer_detail .article_post .post_body {
  min-height: 39.1rem;
  position: relative;
}
.page_answer_detail .article_post .post_body::before {
  content: "A.";
  display: block;
  font-size: 24px;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.1rem;
  top: 4.7rem;
}
.page_answer_detail .article_post .post_body .txt {
  padding: 4.7rem 3rem 4.7rem 13.7rem;
}

/* 이전글 다음글 ( 상세페이지 게시물 하단 ) */
.post_prev_next {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #212121;
  position: relative;
}
.post_prev_next dl {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2.2rem 3rem 2.2rem 0;
  border-bottom: 1px solid #ccc;
}
.post_prev_next dl:nth-last-of-type(1) {
  border-bottom: none;
}
.post_prev_next .prev dt span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  width: 15px;
  height: 9px;
  background: url("../../img/icon/icon_chevron_up_black.svg") no-repeat;
  background-position: center;
  background-size: 100%;
}
.post_prev_next .next dt span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  width: 15px;
  height: 9px;
  background: url("../../img/icon/icon_chevron_down_black.svg") no-repeat;
  background-position: center;
  background-size: 100%;
}
.post_prev_next dt {
  position: relative;
  width: 18.3rem;
}
.post_prev_next dt span {
  padding-left: 8rem;
}
.post_prev_next dd {
  position: relative;
  display: block;
  width: calc(100% - 8rem);
  text-indent: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post_prev_next dd a {
  display: block;
  width: 100%;
  text-indent: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media all and (max-width: 1024px) {
  .article_post .post_head .tit {
    padding: 1.5rem 0;
    font-size: 16px;
  }
  .article_post .post_head .badge {
    margin-top: 2rem;
  }
  .article_post .post_head .post_info_list {
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .article_post .post_head .post_info_list .post_info_item {
    border-left: none;
    padding-right: 0;
    padding-left: 0;
    line-height: 1.5;
  }
  .article_post .post_body .img {
    min-height: 15rem;
    text-align: center;
  }
  .article_post .post_body .img img {
    margin-bottom: 2rem;
  }
  .article_post .post_body .txt {
    min-height: 15rem;
    padding: 2rem 0;
  }
  .article_post .post_body .txt img {
    margin-bottom: 2rem;
  }
  .article_post .post_body pre {
    min-height: 15rem;
    padding: 2rem 0;
  }
  .article_post .post_body pre img {
    margin-bottom: 2rem;
  }
  /* 이전글 다음글 (게시물 하단 ) */
  .post_prev_next {
    font-size: 1.2rem;
  }
  .post_prev_next dl {
    padding: 15px 7px;
  }
  .post_prev_next dt {
    position: relative;
    width: 7rem;
  }
  .post_prev_next dt span {
    padding-left: 2.25rem;
    font-size: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  .post_prev_next dd {
    width: calc(100% - 7rem);
    text-indent: 0;
  }
  .post_prev_next dd a {
    text-indent: 0;
    width: auto;
  }
  .post_prev_next .prev dt span::before {
    left: 0.6rem;
    width: 7.5px;
    height: 4.5px;
  }
  .post_prev_next .next dt span::before {
    left: 0.6rem;
    width: 7.5px;
    height: 4.5px;
  }
  .article_post .wrap_btns {
    margin-top: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
  }
}