@charset "utf-8";
@import 'mixset';

/* 테이블 */
.wrap_result_table {
  position: relative;
  background-color: $color_white;
  min-height: 100%;
  max-height: 100%;
  border-radius: 24px;
  // padding: 40px;
  // padding-top: 64px;
  // min-width: 1100px;

  .box_table_top {
    display: flex;
    width: 100%;
    height: 3.4rem;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;

    .result_num {
      p {
        font-size: 16px;
        span {
          color: #3551dc;
        }
      }
    }
    .area_right {
      display: flex;
      gap: 10px;
    }

    .select_sort {
      cursor: pointer;
      // background-color: #0f174d;
      color: $color_111;
      width: 11rem;
      height: 3.4rem;
      z-index: 1;
      font-size: 1.4rem;
      border-radius: 8px;
      padding-left: 2.1rem;
      padding-right: 3.2rem;

      background-image: url('../../img/icon/icon_select_down.svg');
      background-size: 16px 9px;
      background-position: right 16px center;
    }
  }

  .wrap_table {
    width: 100%;
    // min-width: 1400px;
    overflow-x: auto;
    border-top: 1px solid #212121;
  }
}

/* 운영지원센터_공지사항_상세 */
.page.page_notice_detail {
  padding-bottom: 16rem;
}

.article_post {
  .wrap_btns {
    justify-content: flex-end;
    margin-top: 3.2rem;
    .btn_submit {
      width: 15.4rem;
    }
  }
}

/* 운영지원센터_자주 묻는 질문_상세 */
.page_answer_detail {
  .badge {
    margin-top: 0;
  }
  .board_post {
    border-bottom: 1px solid #212121;
  }

  .article_post {
    .post_head {
      display: flex;
      width: 100%;
      align-items: center;

      .tit {
        padding-left: 4.8rem;
        position: relative;

        // p  {}

        &::before {
          content: 'Q.';
          display: block;
          font-size: 24px;
          font-family: $font_bold;
          width: 2.4rem;
          height: 2.4rem;
          position: absolute;
          left: 1.3rem;
          top: 2.2rem;
        }
      }
    }

    .post_body {
      min-height: 39.1rem;
      position: relative;
      &::before {
        content: 'A.';
        display: block;
        font-size: 24px;
        font-family: $font_bold;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 9.1rem;
        top: 4.7rem;
      }

      .txt {
        padding: 4.7rem 3rem 4.7rem 13.7rem;
      }
    }
  }
}

/* 이전글 다음글 ( 상세페이지 게시물 하단 ) */
.post_prev_next {
  border-top: 1px solid $color_ccc;
  border-bottom: 1px solid #212121;
  position: relative;

  dl {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2.2rem 3rem 2.2rem 0;
    border-bottom: 1px solid $color_ccc;
    &:nth-last-of-type(1) {
      border-bottom: none;
    }
  }

  .prev dt span {
    &::before {
      content: '';
      display: block;
      position: absolute;
      // display: inline-block;
      top: 50%;
      left: 48px;
      transform: translateY(-50%);
      width: 15px;
      height: 9px;
      background: url('../../img/icon/icon_chevron_up_black.svg') no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }
  .next dt span {
    &:before {
      content: '';
      display: block;
      position: absolute;
      // display: inline-block;
      top: 50%;
      left: 48px;
      transform: translateY(-50%);
      width: 15px;
      height: 9px;
      background: url('../../img/icon/icon_chevron_down_black.svg') no-repeat;
      background-position: center;
      background-size: 100%;
    }
  }

  dt {
    position: relative;
    width: 18.3rem;
    span {
      padding-left: 8rem;
    }
  }

  dd {
    position: relative;
    display: block;
    // width: 100%;
    width: calc(100% - 8rem);
    text-indent: 16px;
    // padding-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // padding: 0 110px 0 156px;

    a {
      //  width: inherit;

      display: block;
      width: 100%;
      // width: calc(100% - 8rem);
      text-indent: 16px;
      // padding-right: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // .tit {
    // 	display: block;
    // }
    // .date {
    // 	position: absolute;
    // 	right: 35px;
    // 	top: 0;
    // }
  }
}

// @media all and (max-width: 1420px) {
 
// }

@media all and (max-width: 1024px) {
 
  .article_post {
    .post_head {
      .tit {
        padding: 1.5rem 0;
        font-size: 16px;
      }

      .badge {
        margin-top: 2rem;
      }

      .post_info_list {
        flex-direction: column;
        padding-bottom: 1.5rem;

        .post_info_item {
          border-left: none;
          padding-right: 0;
          padding-left: 0;
          line-height: 1.5;
        }
      }
    }

    .post_body {
      .img {
        min-height: 15rem;
        text-align: center;

        img {
          margin-bottom: 2rem;
        }
      }

      .txt {
        min-height: 15rem;
        padding: 2rem 0;

        img {
          margin-bottom: 2rem;
        }
      }

      pre {
        min-height: 15rem;
        padding: 2rem 0;

        img {
          margin-bottom: 2rem;
        }
      }
    }
  }

  /* 이전글 다음글 (게시물 하단 ) */
  .post_prev_next {
    font-size: 1.2rem;
    dl {
      padding: 15px 7px;
    }

    dt {
      position: relative;
      width: 7rem;
      span {
        padding-left: 2.25rem;
        font-size: $font_bold;
      }
    }

    dd {
      width: calc(100% - 7rem);
      text-indent: 0;

      a {
        text-indent: 0;
        width: auto;
      }
    }
    .prev dt span::before {
      left: 0.6rem;
      width: 7.5px;
      height: 4.5px;
    }
    .next dt span::before {
      left: 0.6rem;
      width: 7.5px;
      height: 4.5px;
    }
  }

  .article_post .wrap_btns {
    margin-top: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
  }
  }
