@font-face {
    font-family: "NotoSansBold";
    font-weight: 700;
    font-style: normal;
    src:
        url(../../fonts/NotoSansKR-Bold.woff2) format("woff2"),
        url(../../fonts/NotoSansKR-Bold.woff) format("woff"),
        url(../../fonts/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
    font-family: "NotoSansMedium";
    font-weight: 500;
    font-style: normal;
    src:
        url(../../fonts/NotoSansKR-Medium.woff2) format("woff2"),
        url(../../fonts/NotoSansKR-Medium.woff) format("woff"),
        url(../../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
    font-family: "NotoSansRegular";
    font-weight: 400;
    font-style: normal;
    src:
        url(../../fonts/NotoSansKR-Regular.woff2) format("woff2"),
        url(../../fonts/NotoSansKR-Regular.woff) format("woff"),
        url(../../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
    font-family: "NotoSansLight";
    font-weight: 300;
    font-style: normal;
    src:
        url(../../fonts/NotoSans-Light.woff2) format("woff2"),
        url(../../fonts/NotoSans-Light.woff) format("woff"),
        url(../../fonts/NotoSans-Light.otf) format("opentype");
}

@font-face {
    font-family: "NanumBarunGothic";
    font-weight: normal;
    font-style: normal;
    src:
        url(../../fonts/NanumBarunGothicSubset.woff2) format("woff2");
}
