// @charset "UTF-8";
// @import "mixset";

// /* footer */
// .footer {
//   // width: 100%;
//   // background-color: $color_333;
//   // font-size: 1.6rem;
//   // color: $color_aaa;

//   .inner {
//     width: 140rem;
//     display: flex;
//     flex-direction: column;
//     padding-left: 6.1rem;
//     padding-right: 6.1rem;
//     // margin: 0 auto;
//   }

//   .area_other_logo {
//     // width: 100%;
//     display: flex !important;
//     border-bottom: 1px solid $color_555;

//     &.only_mob {
//       display: none !important;
//     }

//     justify-content: right;
//     align-items: flex-end;
//     margin-top: 1.8rem;

//     img {
//       height: 2.6rem;
//     }
//     a {
//       width: auto;
//       margin-left: 4rem;
//       img {
//         height: 4.4rem;
//       }
//     }
//   }

//   .area_sites {
//     display: flex;
//     flex-direction: column;
//     border-bottom: 1px solid $color_555;
//     border-top: 1px solid $color_555;

//     .wrap_select_family {
//       position: relative;
//       background-color: transparent;
//       width: 25rem;
//       height: 6rem;
//       line-height: 6rem;
//       padding: 0 6rem 0 3rem;

//       background-image: url("../../img/icon/icon_plus_grey.svg");
//       background-position: center right 29px;
//       background-repeat: no-repeat;
//       background-size: 2rem 2rem;
//       border-left: 1px solid $color_555;
//       border-right: 1px solid $color_555;
//       font-size: 1.8rem;
//       color: $color_aaa;
// 			// .rel_link_sel {
// 			// 	color: $color_black;
// 			// }

//       cursor: pointer;
//       margin: 0;

//       &.toggle {
//         background-image: url("../../img/icon/icon_chevron_up_gray.svg");
//       }

//       ul {
//         background: $color_333;
//         border: 1px solid $color_555;
//         border-bottom: 0;
//         //  border-radius:5px 5px 0 0;
//         bottom: 60px;
//         left: 0;
//         position: absolute;
//         width: 25rem;

//         z-index: 1;
//         display: none;

//         li {
//           margin-bottom: 10px;
//           border-bottom: 1px solid $color_555;
//         }

//         li:last-child {
//           margin-bottom: 0;
//         }

//         li a {
//           color: $color_aaa;
//           display: block;
//           padding: 0 19px;

//           &:hover {
//             color: $color_black;
//           }
//         }
//       }
//     }
//   }

//   .area_info {
//     padding-top: 4.7rem;
//     padding-bottom: 5.5rem;

//     .wrap_logo {
//       display: flex;
//       align-items: center;
//       max-height: 4.4rem;
//       gap: 3.2rem;
//       margin-bottom: 4.4rem;

//       img {
//         // flex-grow: 0;
//         // flex-shrink: 0;
//         // width: auto;
//         height: auto;
//         margin: 0;
//         object-fit: scale-down;
//         justify-self: flex-start;
//         &:nth-of-type(2) {
//           height: 18px;
//         }
//       }
//     }

//     .wrap_address {
//       width: 100%;
//       line-height: 1.5;
//       // margin-top: 2rem;
//       font-family: $font_medium;
//       display: flex;
//       justify-content: space-between;

//       .list_address {
//         display: flex;
//         flex-direction: column;
//         gap: 5px;
//         // margin-bottom: 2.2rem;

//         .list_address_item {
//           &:last-of-type {
//             margin-bottom: 0;
//           }

//           .only_pc_inline {
//             display: inline;
//           }

//           .only_mob_inline {
//             display: none;
//           }
//         }
//       }
//     }

//     .wrap_address02 {
//       display: block;
//       margin-top: 2.6rem;

//       .list_address {
//         font-family: $font_bold;
//         font-size: 1.6rem;
//       }

//       // .list_address_item {
//       // 		&:last-of-type {
//       // 				margin-bottom: 0;
//       // 		}

//       // 		.only_pc_inline {
//       // 				display: inline;
//       // 		}

//       // 		.only_mob_inline {
//       // 				display: none;
//       // 		}
//       // }
//     }
//   }

//   .area_links {
//     padding-top: 1.2rem;
//     padding-bottom: 3.9rem;
//     border-top: 1px solid $color_555;

//     .wrap_links {
//       display: flex;
//       margin-bottom: 0.9rem;
//       line-height: 1.5;
//       a {
//         width: auto;
//       }

//       .rel_link {
//         position: relative;
//         margin-right: 16px;
//         margin-left: 16px;
//         color: #717171;
//         font-family: $font_bold;

//         &::after {
//           content: "";
//           display: block;
//           position: absolute;
//           background-color: #717171;
//           width: 1px;
//           height: 13px;
//           right: -16px;
//           top: 50%;
//           transform: translateY(-50%);
//         }
//         &:first-of-type {
//           margin-left: 0;
//         }
//         &:last-of-type {
//           &::after {
//             display: none;
//           }
//         }
//         &:nth-of-type(2) {
//           color: #558cf1;
//         }
//       }
//     }
//     .wrap_copyright {
//       font-size: 1.6rem;
//       color: #717171;
//     }
//   }
// }

// /*********************************************************************************************************
// **********************************************************************************************************
// **********************************************************************************************************
// ***********************************************  1420px  *************************************************
// **********************************************************************************************************
// **********************************************************************************************************
// *********************************************************************************************************/

// @media all and (max-width: 1420px) {
//   .footer {
//     .inner {
//       width: 90%;
//       padding: 0;
//       // padding: 3rem 2% 1.8rem;
//     }

//     .wrap_logo {
//       width: 20rem;
//       margin-right: 3rem;

//       img {
//         width: 100%;
//       }
//     }
//   }

// }

// @media all and (max-width: 1024px) {
//   .footer {
//     width: 100%;
//     // min-height: 35rem;
//     font-size: 1.4rem;

//     .inner {
//       display: flex;
//       flex-direction: column;
//       justify-content: flex-start;
//       align-items: flex-start;
//       width: 100%;
//     }

//     .area_sites {
//       margin-left: 0;

//       .wrap_select_family {
//         position: relative;
//         background-color: transparent;
//         width: 100%;
//         height: 4.5rem;
//         line-height: 4.3rem;
//         border-left: none;
//         border-right: none;
//         text-align: left;
//         padding: 0 5rem 0 2rem;
//         font-size: 1.2rem;
//         background-image: url(../../img/icon/icon_plus_black.svg);
//         background-position: center right 21px;
//         cursor: pointer;

//         &.toggle {
//           background-image: url("../../img/icon/icon_chevron_up_gray.svg");
//         }

//         ul {
//           border-bottom: 0;
//           bottom: 45px;
//           left: 0;
//           // padding: 10px 0;
//           position: absolute;
//           width: 100%;
//           z-index: 1;
//           display: none;
//           text-align: left;

//           // li {
//           //   margin-bottom: 10px;
//           // }

//           // li:last-child {
//           //   margin-bottom: 0;
//           // }

//           li a {
//             color: $color_aaa;
//             display: block;
//             padding: 0 19px;
//           }
//         }
//       }
//     }

//     .area_info {
//       padding-top: 3.2rem;
//       padding-bottom: 3.6rem;
//       padding-left: 1.4rem;
//       padding-right: 1.4rem;

//       .wrap_logo {
//         flex-direction: column;
//         width: auto;
//         margin: unset;
//         justify-content: flex-start;
//         align-items: flex-start;
//         max-height: unset;
//         gap: 1.2rem;
//         margin-bottom: 4rem;

//         img {
//           width: auto;
//           height: unset;
//           object-fit: unset;
//           max-height: 4.7rem;
//           &:nth-of-type(2) {
//             height: 18px;
//           }
//         }
//       }
//     }

//     .wrap_address {
//       padding-left: 0.6rem;
//       line-height: 1;
//       .list_address {
//         margin-bottom: 0;
//         gap: 1.6rem;

//         .list_address_item {
//           font-size: 1.4rem;
//           &:last-of-type {
//             margin-bottom: 0;
//           }
//         }
//       }
//     }

//     .wrap_address02 {
//       padding-left: 0.6rem;
//       margin-top: 3.2rem;

//       .list_address {
//         font-size: 1.4rem;
//       }
//     }

//     .area_links {
//       .inner {
//         padding: 0 2rem;
//       }

//       .wrap_links {
//         margin-bottom: 2.2rem;
//         line-height: 1.5;
// 				flex-wrap: wrap;
// 				.rel_link {
// 					width: 100%;
// 					margin-left: 0;
// 					&::after {
// 						display: none;
// 					}
// 				}
//       }
//       .wrap_copyright {
//         p {
//           font-size: 1.4rem;
//         }
//       }
//     }
//   }
// }

// // @media all and (max-width: 768px) {

// // }

// @media all and (max-width: 480px) {
//   .footer {
//     font-size: 14px;
//     height: unset;
    
//     .area_sites {
//       // align-items: center;
//       flex-direction: column;
//       // flex-wrap: wrap;
//       width: 100%;
//       height: 100%;
//       gap: unset;

//       .list_link {
//         width: 34rem;
//         flex-wrap: wrap;
//         justify-content: center;
//         margin: 2rem auto 0.6rem;

//         .list_link_item {
//           padding-left: 1rem;
//           padding-right: 1rem;
//           padding-top: 1rem;
//           padding-bottom: 1rem;
//           border-right: none;

//           &:nth-of-type(1) {
//             padding-left: 0;
//           }

//           &:nth-last-of-type(1) {
//             border-right: none;
//             padding-right: 0;
//             padding-right: 1.5rem;
//           }
//         }
//       }
//     }

//     .select_family {
//       width: 16rem;
//       height: 3rem;
//       background-size: 0.9rem 0.5rem;
//       padding: 0 2.3rem 0 1.4rem;
//       background-position: center right 2.3rem;
//     }

//     .wrap_select_family {
//       width: 16rem;
//       font-size: 12px;
//       height: 3rem;
//       line-height: 2.8rem;
//       background-position: center right 15px;
//       padding-right: 2.4rem;

//       ul {
//         bottom: 29px;
//       }
//     }

//     .wrap_bottom {
//       margin-top: 0;
//       text-align: center;

//       .wrap_logo {
//         width: 100%;
//         margin: 2rem auto;

//         img {
//           // margin: 0;
//           width: auto;
//           height: 2.8rem;
//           margin: auto;
//         }
//       }
//     }
//   }
// }

// /* footer end */