@use '../css/dx.common.css';
@use '../css/theme.base.css';
@use '../css/fontset.css';
@use '../css/base.css';
@use '../css/style.css';
@use '../css/aditionalstyle.css';
@use '../css/dx-search_bar.css';
@use '../css/dx-table.css';
@use '../css/dx-input.css';
@use '../css/new.css';
@use '../css/board.css';
@import "../css/swiper-5.4.3.css";
@import "../css/swiper.11.0.6-bundle.css";
@import "../css/fontset.css";
@import "../css/base.css";
@import "../css/nav.css";
@import "../css/style.css";
@import "../css/layout.css";
@import "../css/style_promotion.css";