@charset "UTF-8";
@import "mixset.scss";

/* 페이지 레이아웃 */
.page {
  width: 100%;
  // text-align: center;
  margin-top: 0;
  //padding-top: 20.4rem;
}

.page_inner {
  margin: 0 auto;
  max-width: 140rem;
  width: 100%;
  padding-bottom: 23rem;
}

// 메인 페이지 타이틀 */
.main .page_title {
  width: 100%;
  color: #111;
  font-family: $font_bold;
  font-size: 5.6rem;

  display: block;
  text-align: center;
  text-align: left;
  // height: 48px;
  // display: inline-block;
  // vertical-align: top;
  margin-bottom: 2.4rem;
}

// 서브페이지 타이틀
.page_title_area {
  .page_title {
    font-family: $font_bold;
    position: relative;
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
    margin-top: 4rem;
    line-height: 1;
    text-align: center;

    .page_title_sub {
      text-align: left;
      font-size: 18px;
      font-family: $font_light;
    }

    & + h3 {
      text-align: center;
      font-family: $font_light;
      font-size: 1.8rem;
    }
  }

  .title_underline {
    &::after {
      width: 146px;
      height: 10px;
      border-radius: 5px;
      background-color: $color_brand_main;
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .title_article {
    font-size: 3rem;
    font-family: $font_bold;
    text-align: center;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 3.8rem;
    margin-top: 0;

    & + p {
      font-size: 1.8rem;
      font-family: $font_regular;
      text-align: center;
    }

    &.title_upperline {
      position: relative;
      padding-top: 1.8rem;
    }
  }

  .title_upperline {
    &::before {
      width: 48px; 
      height: 8px;
      border-radius: 4px;
      background-color: $color_brand_main;
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .wrap_article {
    width: 100%;
    padding: 10rem 0;

    article {
      width: 1420px;
      margin: 0 auto;
    }

    p {
      font-size: 1.8rem;
    }
  }

  .wrap_article.article01 {
    padding-top: 0;
  }

  // ** pagination **
  .swiper-pagination,
  .swiper-pagination_ {
    .swiper-pagination-bullet {
      transition: all 0.2s ease-in-out;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 0.4rem;
      margin: 0 2px;
    }

    .swiper-pagination-bullet-active {
      width: 2.4rem;
      background: $color_brand_main;
    }
  }
}

.article_title {
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.wrap_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************** 브레드크럼 ***************/
.wrap_breadcrumb {
  width: 100%;
  margin: 0 auto;
  // margin-top: 8rem;

  .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;

    .breadcrumbs_item {
      width: auto;
      position: relative;
      font-family: $font_medium;
      font-size: 1.4rem;

      &::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 12px;
        top: 50%;
        transform: translateY(-50%);
        right: -24px;
        background-image: url("../../img/icon/icon_chevron_right_black.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }

      &:last-of-type {
        &::after {
          content: none;
        }
      }

      &.current_page {
        color: $color_brand_main;
      }

      &.cat_home {
        width: 16px;
        height: 18px;

        background-image: url("../../img/icon/icon_home.svg");
        background-size: 16px 18px;
        background-position: center;
        background-repeat: no-repeat;

        // &::after {
        //   content: "";
        //   position: absolute;
        //   width: 7px;
        //   height: 12px;
        //   top: 50%;
        //   transform: translateY(-50%);
        //   right: -24px;
        //   background-image: url("../../img/icon/icon_chevron_right_black.svg");
        //   background-size: 100%;
        //   background-position: center;
        //   background-repeat: no-repeat;
        // }

        a {
          display: inline-block;
          width: 16px;
          height: 27px;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

/* 상단 카테고리 타이틀 영역  */
.main {
  width: 120rem;
  min-height: calc(100vh - (15.2rem + 16rem + 19rem));
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  flex: 0 0 auto;
  gap: 4rem;
}


/*  탭 공통사항 */
.tab_contents {
  display: none;

  &.on {
    display: block;
  }
}

.tab_contents_item {
  display: none;

  &.on {
    display: block;
  }
}

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
// @media all and (min-width: 1025px) and (max-width: 1366px) {
@media all and (max-width: 1420px) {

/*   .page {
    padding-top: 15rem;
  } */

  .page_title_area .page_title {
    font-size: 3.8rem;
  }
  .main {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .section {
    width: 100%;
  }

  .page_content .wrap_table {
    max-width: 100%;
  }


  /* 테이블 */
  .select_searchbar {
    width: 100%;
    height: 5rem;
    padding: 0 2.6rem;
  }

  .box_input {
    // flex-grow: 1;
    // width: calc(100% - 8.75rem);
    input[type="text"] {
      height: 5rem;
    }
  }
  .input_searchbar {
    border: 1px solid $color_ccc;
    border-radius: 1rem;
    // color: $color_777;
    &::placeholder {
      color: $color_777;
    }
  }
}



// @media all and (max-width: 768px) {


// }

//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
/* mobile 규격  ( 모바일 기기 _ 실 사이즈 480px 미만의 모든 디바이스 ) */
@media all and (max-width: 480px) {
  .section {
    width: 100%;

    .page_content, .page_content_wrap {
      margin-bottom: 3rem;
    }
  }

  .main {
    width: 100%;
    min-height: unset;
    margin-top: unset;
    padding-top: 4rem;
  }

  /* 상단 카테고리 타이틀 영역  */
  .section_title {
    height: 13.5rem;
    background-size: auto;

    h2 {
      font-size: 20px;
    }

    .service {
      h4 {
        font-size: 16px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }

  .page_title.page_title_list {
    font-size: 26px;
  }

  .page {
    margin-top: 0;
    //padding-bottom: 5.5rem;
  }

  .page_title {
    // font-size: 2.6rem;
    word-break: keep-all;
  }
  
  .article_title {
    margin-top: 0;
    margin-bottom: 4rem;
  }

}
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
/// 반응형 end
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////

/* mobile em 추가 */
@media all and (max-width: 340px) {
  html,
  body {
    font-size: 9px;
  }

  body {
    font-size: 0.9em;
  }

  .table {
    font-size: 0.9em;
  }

}
