@charset "UTF-8";
// @import "mixset";
//  Color System common $SCSS
$color_111: #111;
$color_333: #333;
$color_555: #555;
$color_777: #777;
$color_aaa: #aaa; // hsl 67%
$color_ccc: #ccc;
$color_ddd: #ddd; // 87%
$color_eee: #eee; // 93% 
$color_f5: #f5f5f5; // 96%
$color_f7: #f7f7f7;

// $color_blue: 
$color_blue: #333c98;
$color_blue_light: #558cf1;
$color_sky_blue: #7db5fb;
$color_blue_indigo: #2f3a84;
$color_btn_bl: #0f174d;
$color_blue_bg: #d8ddff;

/* opacity color */
$color_blue_01: rgb(57 145 254 / 10%);
$color_blue_02: rgb(57 145 254 / 20%);

/* font color */
$color_white: #fff;
$color_black: #111;
$color_light_black: #383838;

/* Bg, border color */
$color_aaa: #aaa;
$color_ddd: #ddd;
$color_ed: #ededed;
$color_eee: #eee; 
$color_f5: #f5f5f5;
$color_fff: #fff;
$color_white: #fff;

// 명암비 관련 정리
// $color_white: #fff; 의  3:1
// $color_aaa: #828282; // 27% -> 46
// $color_ddd: #878787; // 37% ->49
// $color_eee: #8c8c8c; // 47% -> 52
// $color_f5: #919191; // 3:1 57% 이하여야함..

// font #111 의 3:1 최소 8:1

// $color_ft_aaa: #919191; // hsl 67%
// $color_ft_ddd: #919191; // 87%
// $color_ft_eee: #919191; // 93% 
// $color_ft_f5: #919191; // 96%
// $color_ft_777: #919191; // 96%

// 배경색상
$color_bg_aaa: #aaa; // hsl 67%
$color_bg_ddd: #ddd; // 87%
$color_bg_eee: #eee; // 93% 
$color_bg_f5: #f5f5f5; // 96%
$color_bg_f7: #f7f7f7;
$color_bg_lightpurple: #faf9fe;
$color_bg_lightblue: #e3e9f5;

// $color_aaa: #828282; // 27% -> 46
// $color_ddd: #878787; // 37% ->49
// $color_eee: #8c8c8c; // 47% -> 52
// $color_f5: #919191; // 3:1 57% 이하여야함..


//폰트 색상
$color_ft_111: #111;
$color_ft_777: #777;
$color_ft_aaa: #aaa; 
$color_ft_white: #fff;
$color_ft_lightblue: #7aa9ff;

$color_red: #f00;
$color_brand_main: #1953d5;
$color_deepblue: #0f174d;

// $color_blue_disabled: #a3baee;


// /* Color admin mainA */
// /* Color user mainU*/

// /* font */
$font_light: 'NotoSansLight',
'나눔바른고딕',
'NanumBarunGothic',
'Apple SD 산돌고딕 Neo',
'Apple SD Gothic Neo',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
sans-serif;

$font_regular: 'NotoSansRegular',
'나눔바른고딕',
'NanumBarunGothic',
'Apple SD 산돌고딕 Neo',
'Apple SD Gothic Neo',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
sans-serif;

$font_medium: 'NotoSansMedium',
'나눔바른고딕',
'NanumBarunGothic',
'Apple SD 산돌고딕 Neo',
'Apple SD Gothic Neo',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
sans-serif;

$font_bold: 'NotoSansBold',
'나눔바른고딕',
'NanumBarunGothic',
'Apple SD 산돌고딕 Neo',
'Apple SD Gothic Neo',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
sans-serif;
// /* mixin style */

$font_suit_regular : 'SUITRegular', 'NotoSansRegular', '나눔바른고딕', 'NanumBarunGothic', 'Apple SD 산돌고딕 Neo', 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font_suit_medium : 'SUITMedium', 'NotoSansRegular', '나눔바른고딕', 'NanumBarunGothic', 'Apple SD 산돌고딕 Neo', 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font_suit_bold : 'SUITBold', 'NotoSansRegular', '나눔바른고딕', 'NanumBarunGothic', 'Apple SD 산돌고딕 Neo', 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

// /* flex */
.flex_center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@mixin flex_center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


// /*  button style */
@mixin filled_brand_main {
    color: $color_white;
    background-color: $color_deepblue;
}

@mixin lined_brand_main {
    color: $color_deepblue;
    background-color: $color_white;
    border: 1px solid $color_deepblue;
}

@mixin filled_brand_main_lined {
    color: $color_white;
    background-color: $color_deepblue;
    border: 1px solid $color_deepblue;
}

@mixin filled_white_lined {
    color: $color_deepblue;
    background-color: $color_white;
    border: 1px solid $color_deepblue;
}

@mixin filled_white_font_black {
    color: $color_111;
    background-color: $color_white;
    border: 1px solid $color_ccc;
}

@mixin filled_black {
    color: $color_white;
    background-color: $color_111;
}

@mixin filled_black_lined {
    color: $color_white;
    background-color: $color_111;
    border: 1px solid $color_white;
}

@mixin filled_white {
    color: $color_111;
    background-color: $color_white;
    border: none;
}

@mixin lined_black {
    color: $color_111;
    background-color: $color_white;
    border: 1px solid $color_111;
}

@mixin filled_transparent_white {
    color: $color_white;
    background-color: transparent;
    border: 1px solid $color_white;
}

@mixin line_height_40 {
    line-height: 4rem;
}

@mixin line_height_38 {
    line-height: 3.8rem;
}

@mixin line_height_20 {
    line-height: 2rem;
}

@mixin line_height_18 {
    line-height: 1.8rem;
}

// width: rem;
// height: rem;
// background-image: url("../img/");
@mixin bg_center {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin bg_after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

@mixin after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    // width: rem;
    // height: rem;
    // background-image: url("../img/");
}

@mixin before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    // /* 	width: rem;
    // 	height: rem;
    // 	background-image: url("../img/"); */
}

//  border 
@mixin b_ddd {
    border: 1px solid $color_ddd;
}

@mixin b_f5 {
    border: 1px solid $color_f5;
}

@mixin bb_f5 {
    border-bottom: 1px solid $color_f5;
}

@mixin bt_f5 {
    border-top: 1px solid $color_f5;
}

@mixin br_f5 {
    border-right: 1px solid $color_f5;
}

@mixin bl_f5 {
    border-left: 1px solid $color_f5;
}

@mixin bb_ddd {
    border-bottom: 1px solid $color_ddd;
}

@mixin bt_ddd {
    border-top: 1px solid $color_ddd;
}

@mixin br_ddd {
    border-right: 1px solid $color_ddd;
}

@mixin bl_ddd {
    border-left: 1px solid $color_ddd;
}

// 반응형 관련	
@mixin unset_all {
    all: unset;
}

// transform position unset 
@mixin unset_transform {
    transform: unset;
    transform: translate(0, 0);
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
}

// transform float unset 
@mixin unset_float {
    float: unset;
}

@mixin unset_clear {
    clear: unset;
}

// 한줄라인 글자수 제한 말줄임 표시
@mixin ellipsis_one {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;

}

// 멀티라인 말줄임 표시
// 사용법 : @include ellipsis(3, 1.6em);
$line-cnt : 2;
$line-height : 1.5;
@mixin ellipsis_multi($line-cnt, $line-height) {
	overflow: hidden;
	text-overflow: ellipsis;
	// display: -webkit-box;
	// -webkit-line-clamp: $line-cnt;
	// /* 라인수 */
	// -webkit-box-orient: vertical;
	display: flex;
	-webkit-line-clamp: $line-cnt;
	/* 라인수 */
	word-wrap: break-word;
	line-height: $line-height;
	height: $line-height * $line-cnt;
	/* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

@mixin ellipsis_multi {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* font size */

@mixin fs_xxxl {
    font-size: 40px;
}

@mixin fs_xxl {
    font-size: 40px;
}

@mixin fs_xl {
    font-size: 35px;
}

@mixin fs_l {
    font-size: 35px;
}


@mixin fs_l {
    font-size: 18px;
}


@mixin fs_m {
    font-size: 16px;
}

@mixin fs_b {
    font-size: 16px;
}

@mixin fs_b16 {
    font-size: 16px;
}

@mixin fs_b18 {
    font-size: 18px;
}

@mixin fs_s {
    font-size: 14px;
}

@mixin fs_xs {
    font-size: 12px;
}

@mixin fs_xxs {
    font-size: 10px;
}

@mixin bg_after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

// // 애니메이션
// @mixin animation-mixin($name) {
//     @keyframes #{$name} {
//         @content;
//     }    
// }


// 그라데이션 색상 수정 2025-02-03

// 그라데이션 색상 설정
@mixin purpleBlue_135deg {
    background: #3c4bbf;
    background: linear-gradient(135deg, #7a2dc2 0%, #3c4bbf 100%);
}

@mixin selectBox_PB_245deg {
    background: #585dc8;
    background: linear-gradient(245deg, #7e50cb 0%, #585dc8 100%);
}

@mixin selectBox_PB_90deg {
    background: #585dc8;
    background: linear-gradient(90deg, #7e50cb 0%, #585dc8 100%);
}


@mixin purpleBlue_vivid_0deg {
    background: #2558bf;
    background: linear-gradient(135deg, #51328a 0%, #2558bf 100%);
}

@mixin blue_vivid_18deg {
    background: #4057ca;
    background: linear-gradient(18deg, #5e61dd 0%, #4057ca 100%);
}

// 푸른색 계열 그라데이션
@mixin blue_20deg {
    background: #4057ca;
    background: linear-gradient(20deg, #5e61dd 0%, #4057ca 100%);
}

@mixin process_blue_145deg {
    background: #686ec4;
    background: linear-gradient(145deg, #25439a 0%, #686ec4 100%);
}


// 박스 그림자
@mixin box_shadow_bl {
    box-shadow: 0 0 20px rgba(37, 53, 121, 0.1);
}

@mixin box_shadow_black_24 {
    box-shadow: 0 0 24px rgba(15, 23, 77, 0.2);
}