@charset "UTF-8";
@import "mixset.scss";

/* 공통 style */
.m_block {
  display: none;
}

.search-list-top {
  .sch-info {
    li {
      font-weight: var(--krds-font-weight-bold);

      .point {
        color: #1953d5;
      }
    }
  }

  .sch-sort {
    li {
      padding: 0;

      &::after {
        display: none;
      }
    }
  }
}

.krds-pagination {
  .page-link.active {
    background-color: var(--krds-color-light-secondary-50);
  }

  .prev,
  .next {
    width: auto;
  }
}

  /* 슬라이드 공통 */
  .slide_box_container {
    max-width: 1420px;
    margin: 0 auto;
    padding-top: 12rem;

    .slide_box {
      position: relative;
      min-width: 328px;
      max-width: 328px;
      height: 540px;
      border: 1px solid #cfe0f5;
      border-radius: 8px;

      box-sizing: border-box;
      transition: border-color 0.3s;
      text-align: left; // 왼쪽 정렬

      // &:hover {
      //   border-color: #005bff;
      // }

      .card_image {
        width: 100%;
        height: 219px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
      }

      // .wrap_text {
      //     padding: 0 29px;
      // }
      .card_title {
        font-size: 22px;
        font-weight: bold; // 타이틀 bold
        color: #111;
        margin: 32px 0 8px 0;
        padding: 0 29px;
        //   text-align: left; // 왼쪽 정렬
      }

      .card_subtitle,
      .card_hashtags {
        font-size: 14px;
        color: #777;
        margin-bottom: 8px;
        padding: 0 29px;
        //   text-align: left; // 왼쪽 정렬
      }

      .card_content {
        font-size: 16px;
        margin-bottom: 8px;
        padding: 0 29px;
      }

      // 툴팁 버튼
      .card_tooltip {
        position: relative;
        width: 100%;
        padding-top: 10px;
        // margin-top: 20px;

        .btn_tooltip {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 3.4rem;
          border-radius: 1.6rem;
          padding: 8px 16px;
          font-size: 1.4rem;
          margin-top: 1.2rem;
          background-color: #fff;
          color: #005bff;
          border: 1px solid #005bff;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 2rem;
            transform: translateY(-50%);
            width: 0.9rem;
            height: 1.2rem;
            background-image: url("../../../img/icon/icon_chevron_right_blue.svg");
            background-repeat: no-repeat;
            background-size: contain;
          }
          &:hover {
            background-color: #005bff;
            color: #fff;
            &::after {
              background-image: url("../../../img/icon/icon_chevron_right_white.svg");
            }
          }
        }

        p {
          display: none;
          position: relative;
          position: absolute;
          bottom: 5rem;
          width: 100%;
          background-color: #fff;
          padding: 16px;
          margin: 0;
          box-shadow: 0 4px 12px -2px rgba(0, 32, 128, 0.1), 0 0 0 1px rgba(60, 80, 120, 0.1);
          border-radius: 8px;
          word-break: break-word;
          &.tooltip_none {
            top: -5rem;
            text-align: center;
          }
        }
      }

      .card_buttons {
        display: inline-flex; // 버튼들을 flex로 배치
        gap: 10px; // 버튼 사이의 간격
        justify-content: flex-start; // 왼쪽 정렬
        position: absolute;
        bottom: 20px;
        padding: 0 29px;

        flex-wrap: wrap;

        .card_button {
          width: auto;
          padding: 8px 16px;
          border: 1px solid #005bff;
          border-radius: 20px;
          text-decoration: none;
          color: #005bff;
          font-size: 14px;
          text-align: center;
          transition: background-color 0.3s;
          white-space: nowrap; // 글자 수에 따라 길이 유동적

          &.button_lg {
            width: calc(65% - 5px);
          }

          &.button_sm {
            width: calc(35% - 5px);
          }

          &:hover {
            background-color: #005bff;
            color: white;
          }

          &:first-child {
            min-width: 101px; // 첫 번째 버튼의 최소 너비
          }

          &:last-child {
            min-width: 145px; // 두 번째 버튼의 최소 너비
          }
        }
      }
    }
  }

  .wrap_slide_box {
    position: relative;
    width: 1420px;
  }

  .wrap_swiper_button {
    width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #1166ff;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

    &::before {
      content: "";
      display: block;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 1px solid #1166ff;
      background-color: #fff;
      position: absolute;
      right: 0;
    }
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 1;
    color: #ccc;
    &::before {
      border-color: #ddd;
    }
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    // content: 'prev';
    // content: '\003C';
    width: 48px;
    font-size: 23px;
    text-align: center;
    z-index: 10;
    font-stretch: ultra-condensed;
    font-weight: lighter;
    text-align: center;
    position: absolute;
    left: 0;
  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    width: 48px;
    font-size: 23px;
    text-align: center;
    z-index: 10;
    font-stretch: ultra-condensed;
    font-weight: lighter;
    width: 50px;
    text-align: center;
    position: absolute;
    right: 0;
  }

  .swiper-button-next {
    width: 5rem;
    right: -2.5rem;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    width: 5rem;
    left: -2.5rem;
  }

  .swiper-container-rtl .swiper-button-prev {
    width: 5rem;
    // right: 0;
    right: -2.5rem;
  }

  .swiper-container {
    width: 100%;
    display: flex;
    // justify-content: center;
    line-height: 1.5;
    // padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .swiper-wrapper {
    width: 100%;

    .swiper-slide {
      // width: 22.5rem !important;
      height: 100%;
      // border: 1px solid $color_ddd;
      // border-radius: 20px;
      background-color: $color_white;
      box-sizing: border-box;
      //box-shadow: 4px 4px 16px rgba(21, 40, 95, 0.18);
    }
  }

  .swiper-pagination {
    position: relative;
    // margin-bottom: 8rem;
  }

  .swiper-pagination-bullet {
    background: $color_ccc;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.3rem;
    opacity: 1;
    transition: all 0.2s;

    &-active {
      width: 2.4rem;
      border-radius: 4px;
      // background: $color_blue;
      opacity: 1;
    }
  }

/* // 20260128 aos 오류 추가 */
/* .wrap_article,
.wrap_article *,
.page_content ,
.page_content * {
  transform: none !important;
   position: relative !important;
}  */
.wrap_article {
  position: relative !important;
  min-height: 1px !important;
}

.box_shadow,
.wrap_group,
.wrap_contents,
.wrap_process_lined {
  overflow: visible !important;
    position: relative !important;
  top: auto !important;
  left: auto !important;
}

.box_shadow {
  height: auto !important;
  max-height: none !important;
  overflow: visible !important;
}

[data-aos] {
  transform: translateZ(0) !important;
  will-change: transform, opacity;
}

.wrap_article + .wrap_article {
  margin-top: 1px;
}