@charset "UTF-8";
/* opacity color */
/* font color */
/* Bg, border color */
.flex_center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* font size */
@media all and (max-width: 1025px) {
  .only_wide {
    display: none;
  }
  .only_mob {
    display: block;
  }
  .mo_img,
  img.only_mob {
    width: 100%;
  }
  .only_pc {
    display: none;
  }
  .main {
    width: 100%;
    padding: 0 2%;
  }
  .page .wrap_tab {
    height: 5.2rem;
  }
  .section {
    width: 100%;
  }
  .section {
    width: 100%;
    margin-left: unset;
    margin: 0 auto;
  }
  .aside {
    display: none;
  }
  .page_title.page_title_list {
    font-size: 30px;
  }
  /* top 버튼 */
  .wrap_side_btn {
    position: fixed;
    right: 1.4rem;
    bottom: 3rem;
    z-index: 100;
  }
  .wrap_side_btn a {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(37, 53, 121, 0.2);
  }
  .wrap_side_btn a::after {
    content: "";
    position: absolute;
    width: 4.5rem;
    height: 4.5rem;
    background-image: url("../../img/icon/icon_top.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  .footer {
    width: 100%;
    font-size: 1.4rem;
  }
  .footer .inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .footer .area_sites {
    margin-left: 0;
  }
  .footer .area_sites .wrap_select_family {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 4.5rem;
    line-height: 4.3rem;
    border-left: none;
    border-right: none;
    text-align: left;
    padding: 0 5rem 0 2rem;
    font-size: 1.2rem;
    background-image: url("../../img/icon/icon_plus_black.svg");
    background-position: center right 21px;
    cursor: pointer;
  }
  .footer .area_sites .wrap_select_family.toggle {
    background-image: url("../../img/icon/icon_chevron_up_gray.svg");
  }
  .footer .area_sites .wrap_select_family ul {
    border-bottom: 0;
    bottom: 45px;
    left: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    text-align: left;
  }
  .footer .area_sites .wrap_select_family ul li a {
    color: #aaa;
    display: block;
    padding: 0 19px;
  }
  .footer .area_info {
    padding-top: 3.2rem;
    padding-bottom: 3.6rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
  .footer .area_info .wrap_logo {
    flex-direction: column;
    width: auto;
    margin: unset;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: unset;
    gap: 1.2rem;
    margin-bottom: 4rem;
  }
  .footer .area_info .wrap_logo img {
    width: auto;
    height: unset;
    -o-object-fit: unset;
       object-fit: unset;
    max-height: 4.7rem;
  }
  .footer .area_info .wrap_logo img:nth-of-type(2) {
    height: 18px;
  }
  .footer .wrap_address {
    padding-left: 0.6rem;
    line-height: 1;
  }
  .footer .wrap_address .list_address {
    margin-bottom: 0;
    gap: 1.6rem;
  }
  .footer .wrap_address .list_address .list_address_item {
    font-size: 1.4rem;
  }
  .footer .wrap_address .list_address .list_address_item:last-of-type {
    margin-bottom: 0;
  }
  .footer .wrap_address02 {
    padding-left: 0.6rem;
    margin-top: 3.2rem;
  }
  .footer .wrap_address02 .list_address {
    font-size: 1.4rem;
  }
  .footer .area_links .inner {
    padding: 0 2rem;
  }
  .footer .area_links .wrap_links {
    margin-bottom: 2.8rem;
    line-height: 1;
  }
  .footer .area_links .wrap_copyright p {
    font-size: 1.4rem;
  }
  .section.service .page_service .cs .box figure {
    width: 100%;
  }
  .page_title_area .page_title {
    position: relative;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 4.6rem;
  }
  .page_title_area .page_title .page_title_sub {
    font-size: 1.4rem;
  }
  .page_title_area .page_title + h3 {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 1024px) {
  .only_mob {
    display: block;
  }
  .mo_img,
  img.only_mob {
    width: 100%;
  }
  .only_pc {
    display: none;
  }
  .main {
    padding: 0 1.6rem;
  }
  .page_title {
    margin-bottom: 3rem;
    font-size: 26px;
  }
  .page_title.page_title_list {
    font-size: 28px;
  }
  .page {
    padding-bottom: 5.5rem;
  }
  /* 푸터 영역  */
  .footer {
    font-size: 14px;
    height: unset;
  }
  .footer .inner {
    width: 100%;
    padding: 2.4rem 1.5rem 5rem;
  }
  .footer .area_sites {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
    gap: unset;
  }
  .footer .area_sites .list_link {
    width: unset;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
  }
  .footer .area_sites .list_link .list_link_item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: none;
  }
  .footer .area_sites .list_link .list_link_item:nth-of-type(1) {
    padding-left: 0;
  }
  .footer .area_sites .list_link .list_link_item:nth-last-of-type(1) {
    border-right: none;
    padding-right: 0;
    padding-right: 1.5rem;
  }
  .footer .select_family {
    width: 16rem;
    height: 3rem;
    background-size: 0.9rem 0.5rem;
    padding: 0 2.3rem 0 1.4rem;
    background-position: center right 2.3rem;
  }
  .footer .wrap_select_family {
    font-size: 14px;
  }
  .footer .wrap_bottom {
    margin-top: 0;
    text-align: center;
  }
  .footer .wrap_bottom .wrap_logo {
    width: 100%;
    margin: 2rem auto;
  }
  .footer .wrap_bottom .wrap_logo img {
    width: auto;
    height: 2.8rem;
    margin: auto;
  }
  /* table_list  */
  .page_content .wrap_table {
    max-width: 100%;
  }
}
@media all and (max-width: 769px) {
  .main {
    padding: 0 1.6rem;
  }
  .page_title {
    margin-top: 4.6rem;
    margin-bottom: 3rem;
    font-size: 26px;
  }
  .page_title.page_title_list {
    font-size: 28px;
  }
  .page {
    padding-top: 8.9rem;
    padding-bottom: 12.5rem;
  }
  .page .wrap_article {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-bottom: 9rem;
  }
  .page .wrap_article .contents_wrap .wrap_cntnts {
    padding: 0 1.1rem;
  }
  .page .wrap_article.article01 {
    margin-top: 0;
    margin-bottom: 4rem;
  }
  .page .wrap_article.article01.has_tabmenu {
    margin-bottom: 2rem;
  }
  .page .wrap_article:last-of-type {
    margin-bottom: 12.5rem;
  }
  .page p,
  .page li {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .page p.dscrpt,
  .page p .dscrpt,
  .page li.dscrpt,
  .page li .dscrpt {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0.6rem;
  }
  .page .page_title {
    font-size: 2.2rem;
  }
  .page .title_description {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .page .title_article {
    font-size: 1.7rem;
    padding-left: 1.2rem;
  }
  .page .title_article.title_leftLine {
    height: auto;
    margin-bottom: 1.4rem;
  }
  .page .title_article.title_leftLine::after {
    width: 3px;
    height: 1.8rem;
    top: 2px;
  }
  .page .wrap_tab {
    margin: 4rem 0;
    height: auto;
  }
  .page .wrap_tab .tab_con {
    flex-direction: column;
    gap: 1.6rem;
    padding: 0 3rem;
  }
  .page .wrap_tab .tab_con li {
    height: 3.6rem;
  }
  .page .wrap_tab .tab_con li a {
    line-height: 3.6rem;
    font-size: 1.8rem;
  }
  .page .box_line {
    border-radius: 0.4rem;
  }
  .page .box_shadow {
    border-radius: 0.4rem;
  }
  .page .bllt_star {
    padding-left: 0.8rem;
  }
  .page .bllt_star::after {
    font-size: 1.2rem;
  }
  .page .bllt_star_2 {
    padding-left: 1.4rem;
  }
  .page .bllt_star_2::after {
    font-size: 1.2rem;
  }
  .page .bllt_crcl {
    margin-left: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
  }
  .page .bllt_crcl::after {
    left: -12px;
    top: 7px;
    width: 4px;
    height: 4px;
  }
  .page .bllt_line {
    margin-left: 1.1rem;
    margin-bottom: 6px;
    line-height: 1.5;
  }
  .page .bllt_line::after {
    left: -1.1rem;
  }
  .page .bllt_bill {
    margin-left: 1.4rem;
    line-height: 1.5;
  }
  .page .bllt_bill::after {
    left: -1.4rem;
    top: 0;
  }
  .page .bllt_chck {
    margin-left: 1.4rem;
    line-height: 1.5;
  }
  .page .bllt_chck::after {
    left: -1.4rem;
    top: -1px;
    font-family: "NotoSansRegular", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
  .page .lower_menu_init {
    margin-top: 4px;
    padding-left: 1.2rem;
    line-height: 1.5;
  }
  .page .topic_line {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .page .font_16 {
    font-size: 1.2rem;
  }
  .page .font_14 {
    font-size: 1.2rem;
  }
  .page .cntnt_mddl {
    margin: 2.8rem 0;
  }
  .page_inner {
    padding: 0 1.4rem;
  }
  /* table_list  */
  .page_content .wrap_table {
    max-width: 100%;
  }
  .btn_submit {
    max-width: 8rem;
    border-radius: 0.4rem;
  }
  .btn_submit.btn_search {
    max-width: 7.8rem;
    width: 7.8rem;
    height: 3.4rem;
    text-indent: 32px;
    font-size: 1.4rem;
  }
  .btn_submit.btn_search::before {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 1.8rem;
    top: 1.2rem;
  }
}
@media all and (max-width: 481px) {
  .section {
    width: 100%;
  }
  .section .page_content {
    margin-bottom: 3rem;
  }
  .main {
    width: 100%;
    min-height: unset;
    margin-top: unset;
    padding-top: 4rem;
  }
  /* 상단 카테고리 타이틀 영역  */
  .section_title {
    height: 13.5rem;
    background-size: auto;
  }
  .section_title h2 {
    font-size: 20px;
  }
  .section_title .service h4 {
    font-size: 16px;
  }
  .section_title .service h2 {
    font-size: 20px;
  }
  .page_title.page_title_list {
    font-size: 26px;
  }
  .page {
    margin-top: 0;
  }
  .page_title {
    word-break: keep-all;
  }
  /* 푸터 영역  */
  .footer {
    font-size: 14px;
    height: unset;
  }
  .footer .area_sites {
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: unset;
  }
  .footer .area_sites .list_link {
    width: 34rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto 0.6rem;
  }
  .footer .area_sites .list_link .list_link_item {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: none;
  }
  .footer .area_sites .list_link .list_link_item:nth-of-type(1) {
    padding-left: 0;
  }
  .footer .area_sites .list_link .list_link_item:nth-last-of-type(1) {
    border-right: none;
    padding-right: 0;
    padding-right: 1.5rem;
  }
  .footer .select_family {
    width: 16rem;
    height: 3rem;
    background-size: 0.9rem 0.5rem;
    padding: 0 2.3rem 0 1.4rem;
    background-position: center right 2.3rem;
  }
  .footer .wrap_select_family {
    width: 16rem;
    font-size: 12px;
    height: 3rem;
    line-height: 2.8rem;
    background-position: center right 15px;
    padding-right: 2.4rem;
  }
  .footer .wrap_select_family ul {
    bottom: 29px;
  }
  .footer .wrap_bottom {
    margin-top: 0;
    text-align: center;
  }
  .footer .wrap_bottom .wrap_logo {
    width: 100%;
    margin: 2rem auto;
  }
  .footer .wrap_bottom .wrap_logo img {
    width: auto;
    height: 2.8rem;
    margin: auto;
  }
}
/* mobile em 추가 */
@media all and (max-width: 340px) {
  html,
  body {
    font-size: 9px;
  }
  body {
    font-size: 0.9em;
  }
  .table {
    font-size: 0.9em;
  }
  .footer {
    font-size: 0.9em;
  }
}