/* opacity color */
/* font color */
/* Bg, border color */
.flex_center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* font size */
.page_search .area_left {
  display: flex;
}
.page_search .area_left .wrap_result_num {
  padding-left: 5.8rem;
  position: relative;
  margin-left: 0;
  font-size: initial;
}
.page_search .area_left .wrap_result_num::before {
  content: "/";
  display: block;
  position: absolute;
  width: 1rem;
  height: 1.8rem;
  left: 3.2rem;
}
.page_search .result_keyword {
  background-color: #bff0f5;
}