@charset "UTF-8";
/* 포털 이용약관 */
.terms_of_use {
  .terms_sub_tit {
    position: relative;
    margin-bottom: var(--krds-gap-9);
    font-size: var(--krds-pc-font-size-heading-large);
    font-weight: var(--krds-font-weight-bold);
    text-align: center;
  }

  .wrap_article {
    margin-bottom: var(--krds-pc-gap-layout-h2-h2);
  }

  .article01 {
    margin-bottom: 16rem;

    .sub_tit {
      margin-bottom: var(--krds-pc-gap-layout-title-body-large);
      font-size: var(--krds-pc-font-size-heading-large);
      font-weight: var(--krds-font-weight-bold);
      text-align: center;
    }

    .wrap_terms_list {
      .index_list {
        display: grid;
        width: 100%;
        gap: var(--krds-gap-8) var(--krds-gap-6);
        padding: var(--krds-padding-10);
        border-radius: var(--krds-radius-xlarge2);
        background: #e3e9f5;
        grid-template-columns: 1fr 1fr;

        .labeling-card {
          display: flex;
          padding-left: var(--krds-padding-3);

          a {
            position: relative;
            padding-left: var(--krds-padding-6);
            line-height: 1.5;
            font-size: var(--krds-pc-font-size-body-large);
            font-weight: var(--krds-font-weight-bold);

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0.4rem;
              display: block;
              width: 2.4rem;
              height: 2.6rem;
              background: url("../../img/icon/icon_chevron_right_blue.svg") no-repeat center;
              // background-size: 100%;
              transform: translateX(-50%);
            }

            .num {
              position: relative;
              padding-left: 0;
            }

            .title {
              display: block;
              padding-left: 0.6rem;
            }
          }
        }
      }
    }
  }

  ////////// 이용약관 //////////
  .terms_detail {
    margin-bottom: var(--krds-gap-10);

    .terms_detail_tit {
      position: relative;
      margin-bottom: var(--krds-pc-gap-layout-title-body-large);
      padding-left: var(--krds-padding-8);
      font-size: var(--krds-pc-font-size-heading-medium);
      font-weight: var(--krds-font-weight-bold);

      &::before {
        content: "";
        position: absolute;
        top: 0.4rem;
        left: 0;
        display: block;
        width: 2.2rem;
        height: 2.4rem;
        margin-bottom: var(--krds-pc-gap-layout-h2-h2);
        background: url("../../img/icon/icon_chevron_right_blue.svg") no-repeat left center;
        background-size: 1.4rem 2rem;
      }
    }

    .detail_txt {
      margin-bottom: var(--krds-gap-5);
      padding-left: var(--krds-padding-7);
      font-size: var(--krds-pc-font-size-body-large);
    }

    .krds-info-list {
      color: var(--krds-light-color-text-subtle);
      padding-left: var(--krds-padding-8);

      > li {
        .num {
          padding-left: var(--krds-padding-3);
        }
        > ol {
          padding-left: 0;
          .num {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .terms_of_use {
    .article01 {
      .wrap_terms_list {
        .krds-info-list {
          gap: var(--krds-gap-8) var(--krds-gap-4);
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .terms_of_use {
    .terms_sub_tit {
      font-size: var(--krds-mobile-font-size-heading-large);
    }

    .wrap_article {
      margin-bottom: var(--krds-mobile-gap-layout-h2-h2);
    }

    .article01 {
      .sub_tit {
        margin-bottom: var(--krds-mobile-gap-layout-title-body-medium);
        font-size: var(--krds-mobile-font-size-heading-medium);
      }
      .wrap_terms_list {
        .index_list {
          gap: var(--krds-gap-7) var(--krds-gap-4);
          padding: var(--krds-padding-7) var(--krds-padding-6);
          grid-template-columns: 1fr;
          //

          li {
            a {
              &::before {
                top: 0.3rem; // 모바일에서 위치 조정
                width: 1.1rem;
                height: 2.1rem;
                background-size: contain;
              }
            }
          }
        }
      }
    }

    .terms_detail {
      .terms_detail_tit {
        font-size: var(--krds-mobile-font-size-heading-medium);
      }

      .detail_txt {
        margin-bottom: var(--krds-gap-5);
        padding-left: var(--krds-padding-7);
        font-size: var(--krds-mobile-font-size-body-medium);
      }
    }
  }
}
/* 포털 이용약관 end */