@charset "UTF-8";
/* opacity color */
/* font color */
/* Bg, border color */
.flex_center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* font size */
/* 버튼 랩 */
.wrap_btn {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
}

/* 공통 영역 */
.contents_centered {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contents_col2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contents_col2 > div {
  width: 50%;
}

.select_area {
  height: auto;
}
.select_area .only_pc .service_list {
  border-radius: 3rem;
  background-color: #e3e9f5;
  padding: 3.6rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.select_area .only_pc .service_list li {
  width: auto;
}
.select_area .only_pc .service_list .service_item {
  display: inline-block;
  width: auto;
  height: 46px;
  line-height: 44px;
  border-radius: 23px;
  padding: 0 59px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 2rem;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #111;
  transition: all 0.2s ease-in-out;
}
.select_area .only_pc .service_list .service_item:hover {
  color: #1953d5;
  border: 1px solid #1953d5;
}

/* 반응형 시작 */
@media all and (max-width: 1420px) {
  /* 공통 ******************************/
  .page .wrap_breadcrumb {
    width: 100%;
    padding: 0 2%;
  }
  .wrap_slide_service {
    width: 100%;
  }
  .wrap_slide_service .slide_box {
    border-radius: 0;
    padding: 3.5rem 6rem;
  }
  .wrap_slide_service .slide_box .wrap-slide-box .swiper-button-prev {
    left: 1.6rem;
  }
  .wrap_slide_service .slide_box .wrap-slide-box .swiper-button-next {
    right: 1.6rem;
  }
  /* 05_사이트맵 *******************************/
  .page_sitemap .shadow_box .wrap_all_menu {
    gap: 6rem 4rem;
  }
  .page_sitemap .shadow_box .wrap_all_menu .wrap_menu {
    width: calc((100% - 8rem) / 3);
  }
}
@media all and (max-width: 1024px) {
  .wrap_breadcrumb {
    display: none;
  }
  /* 공통 ***************************************/
  .select_area {
    width: 100%;
    padding: 0 2%;
  }
  .select_area .combo_box_wrap {
    background-color: #e3e9f5;
    padding: 3rem 6rem;
    border-radius: 3rem;
  }
  .select_area .combo_box_wrap h3 {
    font-size: 2rem;
    font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    text-align: center;
    margin-bottom: 2.4rem;
  }
  .select_area .combo_box_wrap select {
    width: 100%;
    height: 4.8rem;
    font-size: 1.8rem;
    font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    position: relative;
    position: relative;
  }
}
@media all and (max-width: 768px) {
  .select_area {
    padding: 0 4%;
  }
  .select_area .combo_box_wrap {
    padding: 2rem 3rem;
    border-radius: 2rem;
  }
  .select_area .combo_box_wrap h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .select_area .combo_box_wrap select {
    height: 4rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    background-position: center right 2rem;
    background-size: 18px 8px;
  }
}
@media all and (max-width: 480px) {
  .select_area .combo_box_wrap {
    padding: 2rem 1.6rem;
  }
  .select_area .combo_box_wrap select {
    height: 3.6rem;
    font-size: 1.6rem;
    padding: 0 4.5rem 0 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}