@charset "UTF-8";
.wrap_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_signup {
  display: flex;
  flex-direction: column;
}
.page_signup .article_title {
  margin: auto;
}
.page_signup .article_title .page_title_area {
  width: 100%;
}
.page_signup .krds-step-wrap {
  max-width: 54rem;
  margin-bottom: var(--krds-gap-10);
}
.page_signup .krds-step-wrap li:not(li:last-of-type) {
  width: 12rem;
  min-width: 12rem;
}
.page_signup .krds-step-wrap li:not(li:last-of-type):last-of-type {
  flex: 0;
}
.page_signup .step-type .sec-tit {
  text-align: center;
  margin-bottom: var(--krds-gap-9);
  font-size: var(--krds-pc-font-size-heading-large);
}
.page_signup .step-type .sec-tit .step-now {
  display: block;
  margin-bottom: var(--krds-gap-3);
  font-size: var(--krds-pc-font-size-body-medium);
  font-weight: var(--krds-font-weight-regular);
  color: var(--krds-light-color-text-subtle);
}
.page_signup .step-type .sec-tit .step-now strong {
  color: var(--krds-light-color-text-primary);
  font-weight: var(--krds-font-weight-bold);
}
.page_signup .krds-info-list {
  gap: 8px;
}
.page_signup .krds-check-area {
  gap: var(--krds-gap-7);
}
.page_signup .terms-type .txt-box {
  margin-top: var(--krds-gap-9);
}
.page_signup .terms-agree-ul {
  gap: var(--krds-gap-11);
}
.page_signup .terms-agree-ul .agree-box {
  gap: var(--krds-gap-8);
  font-size: var(--krds-pc-font-size-body-medium);
}
.page_signup .krds-info-list .contents_wrap {
  padding-top: var(--krds-gap-6);
}
.page_signup .krds-info-list .contents_wrap .krds-table-wrap,
.page_signup .krds-info-list .contents_wrap .agree-box {
  margin-top: var(--krds-gap-6);
}
.page_signup .krds-info-list .contents_wrap .krds-table-wrap:first-of-type {
  margin-top: 0;
}
.page_signup h4.agree-tit ~ ol {
  margin-top: var(--krds-gap-7);
}
.page_signup .depth_one {
  gap: var(--krds-gap-10);
}
.page_signup .depth_one > li {
  padding-left: 0;
  color: var(--krds-light-color-text-basic);
}
.page_signup .depth_one > li p {
  padding-left: 2rem;
}
.page_signup .depth_one > li .text_indent {
  position: absolute;
  left: 0;
  top: 0.2rem;
}
.page_signup .depth_one > li .depth_two {
  padding-left: var(--krds-gap-5);
}
.page_signup .depth_one > li .depth_two li {
  color: var(--krds-light-color-text-subtle);
  font-size: var(--krds-pc-font-size-body-small);
}
.page_signup .terms-type-modal .krds-info-list > li {
  padding-left: 0;
}
.page_signup .terms-type-modal .krds-info-list.circle {
  padding-left: var(--krds-padding-6);
}
.page_signup .terms-type-modal .agree-t2 {
  display: block;
  padding-bottom: var(--krds-padding-2);
}
.page_signup .terms-type.checklist .terms-agree-ul {
  gap: var(--krds-gap-9);
}
.page_signup .terms-type.checklist .terms-agree-ul .terms-agree-ul {
  margin-top: var(--krds-padding-8);
  gap: var(--krds-gap-7);
}
.page_signup .terms-type.checklist .agree-box {
  margin-top: 0;
}
.page_signup .terms-type.checklist .agree-box > p,
.page_signup .terms-type.checklist .agree-box > div {
  font-size: var(--krds-pc-font-size-body-medium);
  display: flex;
  gap: var(--krds-gap-2);
}
.page_signup .terms-type.checklist .agree-box > p .description,
.page_signup .terms-type.checklist .agree-box > div .description {
  display: block;
  font-size: var(--krds-pc-font-size-body-small);
  color: var(--krds-light-color-text-subtle);
  margin-top: var(--krds-gap-3);
}
.page_signup .terms-type.checklist .agree-box .num {
  min-width: 3.5rem;
}
.page_signup .input-type .txt-box.bg-white .box-sec {
  padding-bottom: var(--krds-padding-10);
  border-bottom: 1px solid var(--krds-light-color-border-gray);
  gap: var(--krds-gap-9);
}
.page_signup .input-type .txt-box.bg-white .box-sec:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.page_signup .input-type .form-group input,
.page_signup .input-type .form-group select {
  max-width: 39rem;
}
.page_signup .input-type .krds-file-upload h3.tit {
  display: inline-block;
  font-size: var(--krds-pc-font-size-heading-small);
  font-weight: var(--krds-font-weight-bold);
  position: relative;
}
.page_signup .input-type .krds-file-upload h3.tit .required {
  font-size: var(--krds-pc-font-size-label-small);
  font-weight: var(--krds-font-weight-regular);
  color: var(--krds-light-color-text-basic);
  position: absolute;
  top: 0.4rem;
  right: -3.8rem;
}
.page_signup .input-type .krds-file-upload .file-upload {
  gap: var(--krds-gap-7);
  padding: var(--krds-padding-10);
}
.page_signup .input-type .krds-file-upload .upload-list .file-info .file-name {
  font-size: var(--krds-pc-font-size-body-medium);
}
.page_signup .input-type .krds-file-upload .upload-list .file-hint-invalid {
  font-size: var(--krds-pc-font-size-body-medium);
}
.page_signup .form-group .form-tit label {
  font-size: var(--krds-pc-font-size-heading-small);
  font-weight: var(--krds-font-weight-bold);
  position: relative;
}
.page_signup .form-group .form-tit label .required {
  font-size: var(--krds-pc-font-size-label-small);
  font-weight: var(--krds-font-weight-regular);
  color: var(--krds-light-color-text-basic);
  position: absolute;
  top: 0.4rem;
  right: -3.8rem;
}
.page_signup .form-group .form-hint.above {
  font-size: var(--krds-pc-font-size-label-small);
}
.page_signup .form-group .form-hint.above::before {
  content: none;
}
.page_signup .form-group .form-hint.inline {
  font-size: var(--krds-pc-font-size-label-small);
  color: var(--krds-light-color-text-subtle);
}
.page_signup .form-group .form-hint.inline::before {
  content: none;
}
.page_signup .krds-modal .modal-dialog .modal-content.medium {
  width: 56rem;
}
.page_signup .krds-modal .modal-dialog .box-sec {
  display: flex;
  flex-direction: column;
  gap: var(--krds-gap-7);
  padding-top: var(--krds-padding-6);
}
.page_signup .krds-modal .modal-dialog.modal-search .box-sec {
  gap: var(--krds-gap-5);
}
.page_signup .wrap-comp-info-box {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: var(--krds-radius-xlarge1);
  background-color: var(--krds-light-color-surface-secondary-subtler);
}
.page_signup .step-type .comp-msg-wrap h4 {
  font-size: var(--krds-pc-font-size-heading-medium);
  margin-bottom: var(--krds-padding-7);
}
.page_signup .step-type .comp-msg-wrap p {
  font-size: var(--krds-pc-font-size-body-large);
}

/* 회원가입 모달 */
.modal-wrap.page_join .modal-conts .box-sec .form-group {
  margin-top: 16px;
}

/* 소개 - 연계한 민간 SaaS */
/* 연계한 민간 SaaS 카드 */
.structured-item.case_card {
  padding: var(--krds-padding-8);
  min-height: 40.1rem;
}
.structured-item.case_card .in .card-top .wrap_img {
  position: relative;
  width: 100%;
  height: 16.8rem;
  border: 1px solid #ccc;
  border-radius: var(--krds-radius-xlarge1);
}
.structured-item.case_card .in .card-top .wrap_img .saas-badge {
  position: absolute !important;
  top: 1.2rem;
  right: 1.2rem;
  background-color: var(--krds-color-light-secondary-70);
  color: var(--krds-color-high-contrast-alpha-white100);
  font-size: var(--krds-pc-font-size-body-small);
  padding: 0 1rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 1.4rem;
}
.structured-item.case_card .in .card-top .wrap_img img {
  max-width: 80%;
  width: auto;
  max-height: 80%;
  height: auto;
}
.structured-item.case_card .in .card-body {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--krds-gap-7);
}
.structured-item.case_card .in .card-body .wrap_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--krds-gap-3);
  margin-bottom: 0;
}
.structured-item.case_card .in .card-body .box_tooltip {
  display: flex;
  flex-direction: column;
  gap: var(--krds-gap-5);
}
.structured-item.case_card .in .card-body .c-company {
  font-size: var(--krds-pc-font-size-body-small);
  color: var(--krds-light-color-element-gray);
}
.structured-item .wrap-tooltip .tooltip-txt {
  display: flex;
  width: 100%;
}
.structured-item .wrap-tooltip .tooltip-txt .key {
  display: inline-block;
  width: 8rem;
  flex-shrink: 0;
}
.structured-item .wrap-tooltip .tooltip-txt .value-wrap {
  display: flex;
  width: calc(100% - 8rem);
  gap: var(--krds-gap-2);
}
.structured-item .wrap-tooltip .tooltip-txt .value-wrap .value {
  display: inline-block;
  max-width: 100%;
}
.structured-item .wrap-tooltip .tooltip-txt .value-wrap .value.is-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.structured-item .wrap-tooltip .tooltip-more {
  width: 1.8rem;
  height: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--krds-light-color-text-basic);
  display: flex;
  justify-content: center;
  align-items: center;
}
.structured-item .wrap-tooltip .tooltip-more .ico-plus {
  width: 11px;
  height: 11px;
}
.structured-item .wrap-tooltip .tooltip-popover {
  width: 31rem;
}

.wrap-krds-pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrap-krds-pagination .krds-pagination .page-navi {
  width: auto;
}

@media all and (max-width: 1420px) {
  /* 회원가입 */
  .page_signup .text_indent {
    font-size: var(--krds-pc-font-size-body-small);
    top: -0.5rem;
  }
}
@media (max-width: 767px) {
  /* 회원가입 */
  .page_signup .krds-step-wrap li:not(li:last-of-type) {
    width: 12rem;
    min-width: initial;
  }
  .page_signup .krds-table-wrap {
    width: 100%;
  }
  .page_signup .input-type .form-group input,
  .page_signup .input-type .form-group select {
    max-width: initial;
  }
}